<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.primary_color }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>

    {{ content_for_header }}

    {{ 'base.css' | asset_url | stylesheet_tag }}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
    {% style %}

        :root{

          --media-padding: {{ settings.media_padding }}px;
          --media-border-opacity: {{ settings.media_border_opacity | divided_by: 100.0 }};
          --media-border-width: {{ settings.media_border_thickness }}px;
          --media-radius: {{ settings.media_radius }}px;
          --media-shadow-opacity: {{ settings.media_shadow_opacity | divided_by: 100.0 }};
          --media-shadow-horizontal-offset: {{ settings.media_shadow_horizontal_offset }}px;
          --media-shadow-vertical-offset: {{ settings.media_shadow_vertical_offset }}px;
          --media-shadow-blur-radius: {{ settings.media_shadow_blur }}px;
          --media-shadow-visible: {% if settings.media_shadow_opacity > 0 %}1{% else %}0{% endif %};

          --text-boxes-border-opacity: {{ settings.text_boxes_border_opacity | divided_by: 100.0 }};
          --text-boxes-border-width: {{ settings.text_boxes_border_thickness }}px;
          --text-boxes-radius: {{ settings.text_boxes_radius }}px;
          --text-boxes-shadow-opacity: {{ settings.text_boxes_shadow_opacity | divided_by: 100.0 }};
          --text-boxes-shadow-visible: {% if settings.text_boxes_shadow_opacity > 0 %}1{% else %}0{% endif %};
          --text-boxes-shadow-horizontal-offset: {{ settings.text_boxes_shadow_horizontal_offset }}px;
          --text-boxes-shadow-vertical-offset: {{ settings.text_boxes_shadow_vertical_offset }}px;
          --text-boxes-shadow-blur-radius: {{ settings.text_boxes_shadow_blur }}px;

          --sections-spacing: {{ settings.sections_spacing }}px;
          --sections-safe-spacing: {% if settings.sections_spacing < 15 %}15{% else %}{{settings.sections_spacing}}{% endif %}px;
          --sections-radius: {{ settings.sections_radius }}px;
          --sections-border-width: {{ settings.sections_border_width }}px;
          --sections-border-opacity: {{ settings.sections_border_opacity | divided_by: 100.0 }};
          --sections-border-color: {{ settings.sections_border_color.red }}, {{ settings.sections_border_color.green }}, {{ settings.sections_border_color.blue }};
        }

    {% endstyle %}
  </head>

  <body>
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% comment %} {% sections 'header-group' %} {% endcomment %}

    {% section 'announcement-bar' %}
    {% section 'dev_header' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main">
      {{ content_for_layout }}
    </main>

    {% comment %} {% sections 'footer-group' %} {% endcomment %}

    {% comment %} {% sections 'drawer-group' %} {% endcomment %}

    {% comment %} {% sections 'overlay' %} {% endcomment %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>
  </body>
</html>
