<div class="section-container">
  <div class="section-container__title">Offers</div>
</div>

{% for block in section.blocks %}
  <div class="card-section">
    <a href="{{ block.settings.card_link }}" class="card-section__link">
      <div class="card-section__card">
        {% if block.settings.card_image != blank %}
          {{ block.settings.card_image | image_url: width: 300, height: 300 }}
        {% endif %}
        <h3 class="card-section__card-title">{{ block.settings.card_title }}</h3>
        <p class="card-section__card-details">{{ block.settings.card_details }}</p>
        <a href="{{ block.settings.card_link }}" class="card-section__btn">{{ block.settings.card_button_text }}</a>
      </div>
    </a>
  </div>
{% endfor %}

{% schema %}
{
  "name": "Card Section",
  "blocks": [
    {
      "type": "card_block",
      "name": "Card",
      "settings": [
        {
          "type": "text",
          "label": "Card Title",
          "id": "card_title",
          "default": "25% Off"
        },
        {
          "type": "textarea",
          "label": "Card Details",
          "id": "card_details",
          "default": "Use code: SAVE25"
        },
        {
          "type": "text",
          "label": "Card Link",
          "id": "card_link",
          "default": "/collections/all?discount=SAVE25"
        },
        {
          "type": "text",
          "label": "Card Button Text",
          "id": "card_button_text",
          "default": "Shop Now"
        },
        {
          "type": "image_picker",
          "label": "Card Image",
          "id": "card_image",
          "info": "Select an image for the card"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Custom",
      "name": "Card Section"
    }
  ]
}
{% endschema %}
