<div class="section-container px-4 py-4 ">
  <h2 class="section-container__title text-center text-3xl font-bold text-gray-900">
    {{ section.settings.section_title }}
  </h2>
</div>
<div class="flex flex-wrap justify-center gap-4 px-4">
  {% for block in section.blocks %}
    <div class="w-full md:w-1/4">
      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ">
        <a href="#">
          {{
            block.settings.card_image
            | image_url: width: 400, height: 200
            | image_tag: class: 'card_image rounded-t-lg'
          }}
        </a>
        <div class="p-5">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
              {{ block.settings.card_details }}
            </h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            {{ block.settings.card_subdetails }}
          </p>
          {% if block.settings.card_link != blank and block.settings.card_button_text != blank %}
            <a
              href="{{ block.settings.card_link }}"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              {{ block.settings.card_button_text }}
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Card Section",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Our Special Offers"
    }
  ],
  "blocks": [
    {
      "type": "card_block",
      "name": "Card",
      "settings": [
        {
          "type": "image_picker",
          "label": "Card Image",
          "id": "card_image",
          "info": "Select an image for the card"
        },
        {
          "type": "textarea",
          "label": "Card Details",
          "id": "card_details",
          "default": "Add card Details"
        },
        {
          "type": "textarea",
          "label": "Card Sub Details",
          "id": "card_subdetails",
          "default": "Add card sub Details"
        },
        {
          "type": "text",
          "label": "Card Button Text",
          "id": "card_button_text",
          "default": "Read more"
        },
        {
          "type": "text",
          "label": "Card Link",
          "id": "card_link",
          "default": "/collections/all?discount=SAVE25"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Custom",
      "name": "Card Section"
    }
  ]
}
{% endschema %}
