{{ 'dev_collapsible-content.css' | asset_url | stylesheet_tag }}

<div class="collapsible-content">
  <h2>{{ section.settings.title }}</h2>
  
  {% for block in section.blocks %}
    <div class="collapsible-item" id="collapse{{ forloop.index }}">
      <div class="collapsible-header">
        <button class="collapsible-toggle" onclick="collapseButton({{ forloop.index }})">
          <span class="toggle-icon">
            {% render 'icon-caret' %}
          </span>
        </button>
        <h3>{{ block.settings.block_title }}</h3>
      </div>
      <div class="collapsible-body">
        <div>
          <p>{{ block.settings.block_content }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<script>

  document.addEventListener('DOMContentLoaded', function () {

    function collapseButton(index) {
    console.log("Clicked collapse for block " + index);

    var collapsible = document.getElementById("collapse" + index);
    collapsible.classList.toggle("active");
  }

  });

</script>

{% schema %}
{
  "name": "Collapsible Content",
  "class": "collapsible-content",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Collapsible Section Title",
      "default": "Collapsible Section"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Content Block",
      "settings": [
        {
          "type": "text",
          "id": "block_title",
          "label": "Block Title",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "block_content",
          "label": "Block Content",
          "default": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collapsible Content Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
