{{ 'contact_form.css' | asset_url | stylesheet_tag }}

<section class="contact-section">
    <div class="container">
      <div class="contact-wrapper">
        <div class="contact-content">
          <h1 class="contact-content__title">{{ section.settings.contact_title }}</h1>
        </div>
        
        <div class="contact-form">
          {%- form 'contact', id: 'ContactForm', class: 'contact-form__form' -%}
            <div>
              <div class="contact__fields">
                <div class="field">
                <input
                  class="field__input contact-form__input"
                  autocomplete="name"
                  type="text"
                  id="ContactForm-name"
                  value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                  placeholder="Name"
                >
              </div>
              <div class="field field--with-error">
                <input
                  autocomplete="email"
                  type="email"
                  id="ContactForm-email"
                  class="field__input contact-form__input"
                  name="contact[email]"
                  spellcheck="false"
                  autocapitalize="off"
                  value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                  aria-required="true"
                  placeholder="Email"
                >
              </div>
            </div>
            
            <div class="field">
              <input
                type="tel"
                id="ContactForm-phone"
                class="field__input contact-form__input"
                autocomplete="tel"
                pattern="[0-9\-]*"
                value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                placeholder="Phone Number"
              >
            </div>
            <div class="field">
              <textarea
                rows="5"
                id="ContactForm-body"
                class="text-area field__input contact-form__textarea"
                placeholder="Comment"
              >
                {{- form.body -}}
              </textarea>
            </div>
            <div class="contact-form__submit">
              {{ section.settings.send_button_text }}
            </div>
          </div>
        {%- endform -%}
        
      </div>
      </div>
    </div>
  </section>
  
  
{% schema %}
  {
    "name": "Contact Page",
    "settings": [
      {
        "type": "text",
        "label": "Contact Title",
        "id": "contact_title",
        "default": "Contact Us"
      },
      {
        "type": "text",
        "label": "Send Button Text",
        "id": "send_button_text",
        "default": "Send Message"
      }
    ],
    "presets": [
      {
        "category": "custom",
        "name": "Contact Page"
      }
    ]
  }
{% endschema %}
  