<!-- Section: Demo tailwind Simple CTA -->
<div class="simple-cta {{ section.settings.simple-cta }}">
  <div class="simple-cta__content {{ section.settings.simple-cta__content }}">
    <h2 class="simple-cta__title {{ section.settings.simple-cta__title }}">{{ section.settings.title }}</h2>
    <p class="simple-cta__description {{ section.settings.simple-cta__description }}">
      {{ section.settings.description }}
    </p>
    {% if section.settings.button_link != blank and section.settings.button_text != blank %}
      <a href="{{ section.settings.button_link }}" class="simple-cta__button {{ section.settings.simple-cta__button }}">
        {{- section.settings.button_text -}}
      </a>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Simple CTA",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Join Us Today"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Sign up now to get exclusive offers and discounts."
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Sign Up"
    },
    {
      "type": "header",
      "content": "Tailwind styling classes"
    },
    {
      "type": "text",
      "id": "simple-cta",
      "label": "Style .simple-cta",
      "info": "Add classes to .simple-cta element"
    },
    {
      "type": "text",
      "id": "simple-cta__content",
      "label": "Style .simple-cta__content",
      "info": "Add classes to .simple-cta.simple-cta__content element"
    },
    {
      "type": "text",
      "id": "simple-cta__title",
      "label": "Style .simple-cta__title",
      "info": "Add classes to .simple-cta.simple-cta__content.simple-cta__title element"
    },
    {
      "type": "text",
      "id": "simple-cta__description",
      "label": "Style .simple-cta__description",
      "info": "Add classes to .simple-cta.simple-cta__content.simple-cta__description element"
    },
    {
      "type": "text",
      "id": "simple-cta__button",
      "label": "Style .simple-cta__button",
      "info": "Add classes to .simple-cta.simple-cta__content.simple-cta__button element"
    }
  ],
  "presets": [
    {
      "name": "Simple CTA",
      "category": "CTA",
      "settings": {
        "title": "Join Us Today",
        "description": "Sign up now to get exclusive offers and discounts.",
        "button_link": "",
        "button_text": "Sign Up",
        "simple-cta": "",
        "simple-cta__content": "",
        "simple-cta__title": "",
        "simple-cta__description": "",
        "simple-cta__button": ""
      }
    }
  ]
}
{% endschema %}
