<!-- image-banner.liquid -->
{{ 'dev__image-banner.css' | asset_url | stylesheet_tag }}

<div class="image-banner" style="background-color: {{ section.settings.background_color }};">
  {% if section.settings.mobile_image %}
    <div class="image-banner__image-wrapper ">
      {{ section.settings.mobile_image | image_url: width: 700 | image_tag: class: 'image-banner__image' }}
    </div>
  {% endif %}

  <div class="image-banner__text-wrapper">
    <h2 class="image-banner__title" style="color: {{ section.settings.color }};">
      {{ section.settings.title | escape }}
    </h2>
    <p class="image-banner__description">{{ section.settings.description }}</p>
    {% if section.blocks.size > 0 %}
      <div class="image-banner__buttons">
        {% for block in section.blocks %}
          <a
            href="{{ block.settings.url }}"
            class="image-banner__button"
            style="background-color: {{ block.settings.background_color }}; color: {{ block.settings.color }}"
          >
            {{- block.settings.text -}}
          </a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Image Banner Display",
  "settings": [
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": " Background Color"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text Color"
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Button Link"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Button Background Color"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Button Text Color"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Banner Display"
    }
  ]
}
{% endschema %}
