<!-- modal-image.liquid -->
<div id="modal_window">
<div class="modal-dark-overlay {{ section.settings.style_modal-dark-overlay }}"></div>
<div class="modal-container {{ section.settings.style_modal-container }}">
  <div class="modal {{ section.settings.style_modal }}">
    <div class="modal-img {{ section.settings.modal-img }}">
      {%- assign image_url_width = section.settings.image_url_width -%}
      {%- assign image_url_height = section.settings.image_url_height -%}
      <div class="modal-img_tag {{ section.settings.modal-img_tag }}">
        {% if section.settings.image != blank %}
          {{
            section.settings.image
            | image_url: width: image_url_width, height: image_url_height
            | image_tag: class: section.settings.modal_image_styles
          }}
        {% else %}
          {{ 'image' | placeholder_svg_tag }}
        {% endif %}
      </div>
    </div>
    <button id="closeModal" class="close {{ section.settings.style_close }}" onclick="document.getElementById('modal_window').style.display='none'">{% render 'icon-cross' %}</button>
    <div class="modal-content {{ section.settings.modal-content }}">
      <div class="modal-offers {{ section.settings.modal-style_offers }}">{{ section.settings['modal-offers'] }}</div>
      <input
        type="email"
        placeholder="Email Address(*)"
        class="modal-email-input {{ section.settings.style_modal_email_input }}"
      >
      <button id="submitEmailButton" class="modal-submit-button {{ section.settings.style_modal_submit_button }}">
        {{ section.settings.modal_button }}
      </button>
    </div>
  </div>
</div>
</div>

<script>
  function toggleModal(show) {
    var overlay = document.querySelector('.modal-dark-overlay');
    var modalContainer = document.querySelector('.modal-container');
    var modal = document.querySelector('.modal');

    if (show) {
      overlay.style.display = 'block';
      modalContainer.style.display = 'block';
    } else {
      overlay.style.display = 'none';
      modalContainer.style.display = 'none';
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
    toggleModal(true); // Show modal on page load
  });

  // Close Modal when clicked outside the modal
  window.onclick = function (e) {
    if (e.target === document.querySelector('.modal-container')) {
      toggleModal(false);
    }
  };
</script>

{% schema %}
{
  "name": "Modal Window with Image",
  "class": "modal",
  "settings": [
    {
      "type": "text",
      "label": "Modal Button",
      "id": "modal_button",
      "default": "Sign Up"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "image_url_width",
      "label": "Image URL width",
      "default": "500"
    },
    {
      "type": "text",
      "id": "image_url_height",
      "label": "Image URL height",
      "default": "400"
    },
    {
      "type": "textarea",
      "id": "modal-offers",
      "label": "Modal Offers Text",
      "default": "Offers @30% off!"
    },
    {
      "type": "header",
      "content": "Tailwind Styling Classes"
    },
    {
      "type": "text",
      "label": "Modal Dark Overlay",
      "id": "style_modal-dark-overlay",
      "default": "fixed top-0 left-0 w-full h-full bg-black bg-opacity-20 overflow-auto"
    },
    {
      "type": "textarea",
      "label": "Modal Container",
      "id": "style_modal-container",
      "default": "fixed top-0 left-0 w-full h-full"
    },
    {
      "type": "textarea",
      "label": "Style Modal",
      "id": "style_modal",
      "default": "flex relative mx-auto w-[90%] md:w-[70%] bg-white rounded-[10px] top-[40%] md:top-[25%] shadow-lg"
    },
    {
      "type": "textarea",
      "id": "modal-img",
      "label": "Image Style",
      "default": "w-1/2 w-240 min-w-200 overflow-hidden relative rounded-[10px] "
    },
    {
      "type": "textarea",
      "id": "modal-img_tag",
      "label": "Card Image Tag Style",
      "default": "hover:scale-105 cursor-pointer"
    },
    {
      "type": "textarea",
      "label": "Close Button",
      "id": "style_close",
      "default": "absolute right-[5px] md:right-[20px] cursor-pointer w-8 max-md:w-5 top-[5px] md:top-[20px]"
    },
    {
      "type": "textarea",
      "label": "Content Div Styling",
      "id": "modal-content",
      "default": "px-4 w-1/2 flex flex-col items-left justify-center gap-4"
    },
    {
      "type": "textarea",
      "id": "modal-style_offers",
      "label": "Styling Offers Text",
      "default": "font-pacifico text-sm md:text-2xl italic font-bold"
    },
    {
      "type": "textarea",
      "label": "Style Modal Email Input",
      "id": "style_modal_email_input",
      "default": "border border-gray-300 px-3 py-2 rounded-md focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 w-full text-xs md:text-sm"
    },

    {
      "type": "textarea",
      "label": "Style Modal Submit Button",
      "id": "style_modal_submit_button",
      "default": "inline-flex items-center px-2 py-1 md:px-3 md:py-2 text-xs md:text-sm font-medium text-center text-white bg-blue-700 border border-primary-600 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 text-xs md:text-sm"
    },
    {
      "type": "textarea",
      "id": "modal_image_styles",
      "label": "Modal Block Image Styles",
      "default": "object-cover"
    }
  ],
  "presets": [
    {
      "name": "Modal Window with Image",
      "category": "Custom"
    }
  ]
}
{% endschema %}
