<div class="featured-collection {{ section.settings.featured-collection }}">
  <div class="featured-collection__centered-content {{ section.settings.featured-collection__centered-content }}">
    <div class="featured-collection__feature-headers {{ section.settings.featured-collection__feature-headers }}">
      {{ section.settings.heading }}
    </div>

    <a
      href="{{ section.settings.linkUrl }}"
      class="featured-collection__view-all-link-section {{ section.settings.featured-collection__view-all-link-section }}"
    >
      {{ section.settings.all_product_heading }}
    </a>

    <div class="featured-collection__tabsCSS {{ section.settings.featured-collection__tabsCSS }}">
      {% assign tags = section.settings.tags | split: ',' %}
      {% for tag in tags %}
        <a
          href="#"
          class="featured-collection__tab-link {{ section.settings.featured-collection__tab-link }}"
          data-category="{{ tag | replace: '_', ' ' | capitalize | handle }}"
        >
          {{- tag | replace: '_', ' ' | capitalize -}}
        </a>
      {% endfor %}
    </div>
  </div>

  <div class="featured-collection__product-container {{ section.settings.featured-collection__product-container }} [&::-webkit-scrollbar]:h-[{{ section.settings.scroll_bar_height}}px]">
    {% for block in section.blocks %}
      <div
        class="featured-collection__product-card {{ block.settings.featured-collection__product-card }}"
        {{ block.shopify_attributes }}
        data-category="{{ block.settings.category | handle }}"
      >
        <div class="featured-collection__card-img {{ block.settings.featured-collection__card-img }}">
          {%- assign image_url_width = block.settings.image_url_width -%}
          {%- assign image_url_height = block.settings.image_url_height -%}
          <div class="featured-collection__card-img_tag {{ block.settings.featured-collection__card-img_tag }}">
            {% if block.settings.image != blank %}
              {{
                block.settings.image
                | image_url: width: image_url_width, height: image_url_height
                | image_tag: class: block.settings.featured-collection_image_styles
              }}
            {% else %}
              {{ 'image' | placeholder_svg_tag }}
            {% endif %}
          </div>
          <div class="featured-collection__deal-tag {{ block.settings.featured-collection__deal-tag }}">
            {{ block.settings.deal_heading }}
            {{ block.settings.deal }}
          </div>
        </div>
        <p class="featured-collection__category {{ block.settings.featured-collection__category }}" id="categoryCSS">
          {{ block.settings.category }}
        </p>
        <h3 class="featured-collection__title {{ block.settings.featured-collection__title }}">
          {{ block.settings.title }}
        </h3>
        <p class="featured-collection__description {{ block.settings.featured-collection__description }}">
          {{ block.settings.description }}
        </p>
        <p class="featured-collection__price {{ block.settings.featured-collection__price }}">
          {{ section.settings.product_currency }}
          {{ block.settings.price }}
          <span class="featured-collection__strikePrice {{ block.settings.featured-collection__strikePrice }}">
            <s class="featured-collection__s-tag {{ block.settings.featured-collection__s-tag }}">
              {{ section.settings.product_currency }}
              {{ block.settings.strikeThroughPrice }}
            </s>
          </span>
        </p>
      </div>
    {% endfor %}
  </div>
</div>

{% if section.blocks.size > 1 %}
  <script async>
    document.addEventListener('DOMContentLoaded', function () {
      const tabs = document.querySelectorAll('.featured-collection__tab-link');
      const productCards = document.querySelectorAll('.featured-collection__product-card');

      tabs.forEach((tab) => {
        tab.addEventListener('click', function (e) {
          e.preventDefault();

          tabs.forEach((t) => t.classList.remove('active'));
          this.classList.add('active');

          const category = this.getAttribute('data-category');
          filterProducts(category);
        });
      });

      function filterProducts(category) {
        productCards.forEach((card) => {
          const isActive = category === 'all';
          card.style.display = isActive || category === card.dataset.category ? 'inline-block' : 'none';
        });
      }

      filterProducts('all');
    });
  </script>
{% endif %}

{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "text",
      "label": "Heading",
      "id": "heading",
      "default": "OUR PRODUCTS"
    },
    {
      "type": "text",
      "label": "View All Product Heading",
      "id": "all_product_heading",
      "default": "View all products ➜"
    },
    {
      "type": "url",
      "label": "Link URL",
      "id": "linkUrl"
    },
    {
      "type": "text",
      "label": "Tags (Comma Separated)",
      "id": "tags",
      "default": "all,multivitamin,wellness_beauty,single_support,kids"
    },
    {
      "type": "text",
      "id": "product_currency",
      "label": "Product Currency",
      "default": "$"
    },
    {
      "type": "range",
      "id": "scroll_bar_height",
      "label": "Scroll Bar Height",
      "min": 0,
      "max": 30,
      "step": 1,
      "default": 10,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "textarea",
      "id": "featured-collection",
      "label": "Collection Style",
      "default": "w-90 mx-auto p-20 dark:bg-gray-900 dark:text-white max-md:p-5"
    },
    {
      "type": "textarea",
      "id": "featured-collection__feature-headers",
      "label": "Heading Style",
      "default": "mb-4 text-5xl font-bold max-md:text-3xl"
    },
    {
      "type": "textarea",
      "id": "featured-collection__centered-content",
      "label": "Collections Content Style",
      "default": "mx-auto mb-10 text-center"
    },
    {
      "type": "textarea",
      "id": "featured-collection__view-all-link-section",
      "label": "View All Products Style",
      "default": "text-blue-600 font-bold text-lg"
    },
    {
      "type": "textarea",
      "id": "featured-collection__tabsCSS",
      "label": "Category Tab Style",
      "default": "flex flex-wrap justify-center items-center my-4 py-0 list-none md:m-6 max-md:mx-auto max-md:p-0 max-md:w-full"
    },
    {
      "type": "textarea",
      "id": "featured-collection__tab-link",
      "label": "Single Category Tab Style",
      "default": "inline-block px-4 py-2 m-1 border border-gray-300 rounded-full bg-gray-100 text-sm text-center text-gray-700 transition duration-300 hover:bg-gray-300 focus:bg-gray-200 focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50 max-md:text-xs max-md:flex-grow max-md:overflow-hidden max-md:whitespace-nowrap max-md:overflow-ellipsis max-md:px-2 max-md:py-1"
    },
    {
      "type": "textarea",
      "id": "featured-collection__product-container",
      "label": "Product Container Style",
      "default": "flex overflow-x-auto flex-nowrap justify-start items-stretch mx-auto my-0 pb-[30px] [&::-webkit-scrollbar-track]:bg-gray-200 [&::-webkit-scrollbar-thumb]:bg-gray-500 [&::-webkit-scrollbar-thumb:hover]:bg-gray-600"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "text",
          "id": "category",
          "label": "Category"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "price",
          "label": "Price"
        },
        {
          "type": "text",
          "id": "strikeThroughPrice",
          "label": "Original Price"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "deal_heading",
          "label": "Deal Heading",
          "default": "DEAL"
        },
        {
          "type": "text",
          "id": "deal",
          "label": "Deal"
        },
        {
          "type": "text",
          "id": "image_url_width",
          "label": "Image URL width",
          "default": "300"
        },
        {
          "type": "text",
          "id": "image_url_height",
          "label": "Image URL height",
          "default": "300"
        },
        {
          "type":"textarea",
          "id": "featured-collection_image_styles",
          "label": "Block Image Styles",
          "default": "object-cover"
        },
        {
          "type": "header",
          "content": "Stying"
        },
        {
          "type": "textarea",
          "id": "featured-collection__product-card",
          "label": "Product Card Style",
          "default": "flex-none w-72 max-md:w-60 min-w-200 mx-10 shadow-lg rounded-[20px] bg-white text-left relative overflow-hidden text-black"
        },
        {
          "type": "textarea",
          "id": "featured-collection__card-img",
          "label": "Card Image Style",
          "default": "w-240 min-w-200 overflow-hidden relative"
        },
        {
          "type": "textarea",
          "id": "featured-collection__card-img_tag",
          "label": "Card Image Tag Style",
          "default": "hover:scale-105 cursor-pointer"
        },
        {
          "type": "textarea",
          "id": "featured-collection__deal-tag",
          "label": "Deal Tag Style",
          "default": "absolute top-2 left-2 bg-yellow-500 text-xs px-2 py-1 rounded-full font-extrabold text-white tracking-wider"
        },
        {
          "type": "textarea",
          "id": "featured-collection__category",
          "label": "Category Css Style",
          "default": "my-3 px-3 py-1 ml-1 border-2 border-blue-600 rounded-full inline-block uppercase text-xs font-bold ml-3"
        },
        {
          "type": "text",
          "id": "featured-collection__title",
          "label": "Title Style",
          "default": "ml-3 text-2xl text-gray-700 font-bold"
        },
        {
          "type": "text",
          "id": "featured-collection__description",
          "label": "Description Style",
          "default": "px-3 pb-5 text-base text-gray-600"
        },
        {
          "type": "text",
          "id": "featured-collection__price",
          "label": "Price Style",
          "default": "ml-3 font-bold text-black mb-5 text-xl"
        },
        {
          "type": "text",
          "id": "featured-collection__s-tag",
          "label": "Strike Tag Style"
        },
        {
          "type": "text",
          "id": "featured-collection__strikePrice",
          "label": "Strike Price Style",
          "default": "font-normal text-gray-600"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Collection Showcase"
    }
  ]
}
{% endschema %}
