<div class="customer-register__classes {{ section.settings.customer-register__classes }}">
  <div class="register-form__classes {{ section.settings.register-form__classes }}">
    <div>
      <h1 class="register-title__classes {{ section.settings.register-title__classes }}">
        {{ section.settings['register-title'] }}
      </h1>
    </div>
    <div class="register-inner__classes {{ section.settings.register-inner__classes }}">
      {% form 'create_customer' %}
        {% if form.errors %}
          <div
            class="register-form-error__classes {{ section.settings.register-form-error__classes }}"
            role="alert"
          >
            <strong class="register-form-error-text__classes {{ section.settings.register-form-error-text__classes }}">
              {{- section.settings['error-title'] -}}
            </strong>
            <p class="register-form-error-message__classes {{ section.settings.register-form-error-message__classes }}">
              {{ form.errors | default_errors }}
            </p>
          </div>
        {% endif %}

        <div class="firstname__classes {{ section.settings.firstname__classes }}">
          <label for="first_name" class="firstname-text__classes {{ section.settings.firstname-text__classes }}">
            {{- section.settings['firstname-label'] -}}
          </label>
          <input
            type="text"
            name="customer[first_name]"
            id="first_name"
            autocomplete="given-name"
            class="firstname-input__classes {{ section.settings.firstname-input__classes }}"
            placeholder="{{ section.settings.firstname-placeholder }}"
          >
        </div>

        <div class="lastname__classes {{ section.settings.lastname__classes }}">
          <label for="last_name" class="lastname-text__classes {{ section.settings.lastname-text__classes }}">
            {{- section.settings['lastname-label'] -}}
          </label>
          <input
            type="text"
            name="customer[last_name]"
            id="last_name"
            autocomplete="family-name"
            class="lastname-input__classes {{ section.settings.lastname-input__classes }}"
            placeholder="{{ section.settings.lastname-placeholder }}"
          >
        </div>

        <div class="email__classes {{ section.settings.email__classes }}">
          <label for="email_address" class="email-text__classes {{ section.settings.email-text__classes }}">
            {{- section.settings['email-label'] -}}
          </label>
          <input
            type="email"
            name="customer[email]"
            id="email_address"
            autocomplete="email"
            class="email-input__classes {{ section.settings.email-input__classes }}"
            placeholder="{{ section.settings.email-placeholder }}"
          >
        </div>

        <div class="password__classes {{ section.settings.password__classes }}">
          <label for="password" class="password-text__classes {{ section.settings.password-text__classes }}">
            {{- section.settings['password-label'] -}}
          </label>
          <input
            type="password"
            name="customer[password]"
            id="password"
            autocomplete="new-password"
            class="password-input__classes  {{ section.settings.password-input__classes }}"
            placeholder="{{ section.settings.password-placeholder }}"
          >
        </div>

        <div>
          <button
            type="submit"
            class="create-button__classes {{ section.settings.create-button__classes }}"
          >
            {{ section.settings['create-button'] }}
          </button>
        </div>
      {% endform %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Customer Register Page",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "register-title",
      "default": "Register an account",
      "label": "Register Page Title"
    },
    {
      "type": "text",
      "id": "error-title",
      "default": "Error!",
      "label": "Error Title"
    },
    {
      "type": "text",
      "id": "firstname-label",
      "default": "First name",
      "label": "First Name Label"
    },
    {
      "type": "text",
      "id": "firstname-placeholder",
      "default": "First name",
      "label": "First Name Placeholder Label"
    },
    {
      "type": "text",
      "id": "lastname-label",
      "default": "Last name",
      "label": "Last Name Label"
    },
    {
      "type": "text",
      "id": "lastname-placeholder",
      "default": "Last name",
      "label": "Last Name Placeholder Label"
    },
    {
      "type": "text",
      "id": "email-label",
      "default": "Email address",
      "label": "Email address Label"
    },
    {
      "type": "text",
      "id": "email-placeholder",
      "default": "Email address",
      "label": "Email address Placeholder Label"
    },
    {
      "type": "text",
      "id": "password-label",
      "default": "Password",
      "label": "Password Label"
    },
    {
      "type": "text",
      "id": "password-placeholder",
      "default": "Password",
      "label": "Password Placeholder Label"
    },
    {
      "type": "text",
      "id": "create-button",
      "default": "Create account",
      "label": "Create an account button"
    },
    {
      "type": "header",
      "content": "Apply Tailwind CSS Classes",
      "info": "Note: Insert classes with space between them."
    },
    {
      "type": "textarea",
      "id": "customer-register__classes",
      "default": "h-full flex items-center justify-center py-12 px-6 md:px-4 lg:px-8",
      "label": "Customer Register Classes"
    },
    {
      "type": "textarea",
      "id": "register-form__classes",
      "default": "max-w-md w-full space-y-8",
      "label": "Register Form Classes"
    },
    {
      "type": "textarea",
      "id": "register-title__classes",
      "default": "text-center text-3xl font-bold mt-6",
      "label": "Register Title Classes"
    },
    {
      "type": "textarea",
      "id": "register-inner__classes",
      "default": "mt-8",
      "label": "Register Inner Classes"
    },
    {
      "type": "textarea",
      "id": "register-form-error__classes",
      "default": "relative border border-red-400 bg-red-100 text-red 700 px-4 py-3",
      "label": "Register Form Error Classes"
    },
    {
      "type": "textarea",
      "id": "register-form-error-text__classes",
      "default": "font-bold",
      "label": "Register Form Error Text Classes"
    },
    {
      "type": "textarea",
      "id": "register-form-error-message__classes",
      "default": "block sm:inline",
      "label": "Register Form Error Message Classes"
    },
    {
      "type": "textarea",
      "id": "firstname__classes",
      "default": "my-2",
      "label": "First Name Classes"
    },
    {
      "type": "textarea",
      "id": "firstname-text__classes",
      "default": "sr-only",
      "label": "First Name Text Classes"
    },
    {
      "type": "textarea",
      "id": "firstname-input__classes",
      "default": "relative block w-full px-3 py-2 border",
      "label": "First Name Input Classes"
    },
    {
      "type": "textarea",
      "id": "lastname__classes",
      "default": "my-2",
      "label": "Last Name Classes"
    },
    {
      "type": "textarea",
      "id": "lastname-text__classes",
      "default": "sr-only",
      "label": "Last Name Text Classes"
    },
    {
      "type": "textarea",
      "id": "lastname-input__classes",
      "default": "relative block w-full px-3 py-2 border",
      "label": "Last Name Input Classes"
    },
    {
      "type": "textarea",
      "id": "email__classes",
      "default": "my-2",
      "label": "Email Classes"
    },
    {
      "type": "textarea",
      "id": "email-text__classes",
      "default": "sr-only",
      "label": "Email Text Classes"
    },
    {
      "type": "textarea",
      "id": "email-input__classes",
      "default": "relative block w-full px-3 py-2 border",
      "label": "Email Input Classes"
    },
    {
      "type": "textarea",
      "id": "password__classes",
      "default": "my-2",
      "label": "Password Classes"
    },
    {
      "type": "textarea",
      "id": "password-text__classes",
      "default": "sr-only",
      "label": "Password Text Classes"
    },
    {
      "type": "textarea",
      "id": "password-input__classes",
      "default": "relative block w-full px-3 py-2 border",
      "label": "Password Input Classes"
    },
    {
      "type": "textarea",
      "id": "create-button__classes",
      "default": "relative w-full py-2 px-4 text-sm font-medium text-white bg-gray-600 hover:bg-gray-900",
      "label": "Create an Account Button Classes"
    }
  ]
}
{% endschema %}
