<!-- Section: Rich-Text -->
<div class="rich-text {{ section.settings.rich-text_div }}">
    <div class="rich-text__blocks">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <div class="rich-text__heading {{ block.settings.tailwindheader }}">
              {{ block.settings.heading }}
            </div>
          {%- when 'text' -%}
            <div class="rich-text__text {{ block.settings.tailwindtext }}">
              {{ block.settings.text }}
            </div>
          {%- when 'button' -%}
            <div class="rich-text__buttons  {{ block.settings.tailwindbutton }}">
              {%- if block.settings.button_label != blank -%}
                <a href="{{ block.settings.button_link }}">
                  {{- block.settings.button_label | escape -}}
                </a>
              {%- endif -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
</div>

{% schema %}
{
  "name": "Rich Text Content",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Tailwing Styling"
    },
    {
      "type": "textarea",
      "id": "rich-text_div",
      "label": "Style Header Container",
      "default": "px-5 py-5 bg-gray-100 text-center"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 3,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "Heading"
        },
        {
          "type": "header",
          "content": "Tailwind Styling Classes"
        },
        {
          "type": "textarea",
          "id": "tailwindheader",
          "label": "Style Header Container",
          "default": "text-2xl font-bold text-gray-900 px-3 py-2 capitalize"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers</p>",
          "label": "Text"
        },
        {
          "type": "header",
          "content": "Tailwind Styling Classes"
        },
        {
          "type": "textarea",
          "id": "tailwindtext",
          "label": "Style Text Container",
          "default": "text-base md:text-xl text-gray-700 px-3 py-2"
        }
      ]
    },
    {
      "type": "button",
      "name": "Buttons",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "header",
          "content": "Tailwind Styling Classes"
        },
        {
          "type": "textarea",
          "id": "tailwindbutton",
          "label": "Style Button Container ",
          "default": "inline-flex items-center mt-2 px-3 py-2 text-xs md:text-sm font-medium text-center bg-blue-600 text-white rounded-lg border cursor-pointer bg-blue-700 border-primary-600 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich Text Content",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
