{{ 'dev_header.css' | asset_url | stylesheet_tag }}

<header class="header">
    <button class="navbar-toggler" onclick="toggleNavbar()">
        <span class="navbar-toggler-icon">&#9776;</span>
    </button>
    <div class="logo" id="logo">
        <a href="#"> 
          {{ section.settings.logo | image_url: width: 50 | image_tag: width: 30 }}
        </a>
    </div>
    <nav class="navbar" id="navbar">
        <ul class="navbar__nav-list">  
            {% for link in section.settings.menu.links %}
                <li class="navbar__nav-item"> 
                    <span class="navbar__main-menu"> {{ link.title | link_to: link.url }}  </span>
                    {% if link.links.size > 0 %}
                        <ul class="navbar__menu dropdown-child">
                            {% for child_link in link.links %}
                                <li class="navbar__menu-link">
                                    <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                                    {% if child_link.links.size > 0 %}
                                        <ul class="navbar__menu dropdown-grandchild">
                                            {% for grandchild_link in child_link.links %}
                                                <li class="navbar__sub-menu-link">
                                                    <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {%- endfor %}
        </ul>
    </nav>
    <div class="actions">
      {% if section.settings.search == true %}
        <a href="#"> 
          {% render 'icon-search' %}
        </a>
      {% endif %}
      {% if section.settings.cart == true %}
        <a href="#"> 
            {% render 'icon-cart' %}
        </a>
      {% endif %}
    </div>
</header>

<script>

function toggleNavbar() {
    var navbar = document.getElementById("navbar");
    navbar.classList.toggle("responsive");
}

</script>

{% schema %}
{
  "name": "Header",
  "class": "shopify-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "logo_alt",
      "label": "Logo Alt Text"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "checkbox",
      "id": "search",
      "label": "Enable Search Icon"
    },
    {
      "type": "checkbox",
      "id": "cart",
      "label": "Enable Cart Icon"
    }
  ]
}
{% endschema %}
