<section id="{{ 'home-' | append: section.id }}">
  <div class="stats-container__classes {{ section.settings.stats-container__classes }}">
    <h2 class="stats-title__classes {{ section.settings.stats-title__classes }}">{{ section.settings.stats_heading }}</h2>
    <div class="stats-inner-container__classes {{ section.settings.stats-inner-container__classes }} {{ section.settings.per_row_sm }} {{ section.settings.per_row_md }} {{ section.settings.per_row_lg }}">
      {% for block in section.blocks %}
        <div class="stats-wrapper__classes {{ section.settings.stats-wrapper__classes }}">
          <div class="stats__classes {{ section.settings.stats__classes }} ">
            <div class="stats-content__classes {{ section.settings.stats-content__classes }}">
              <span class="stats-icon__classes {{ section.settings.stats-icon__classes }}">
                {% if block.settings.icon_select == 'icon-rocket' %}
                  {% render 'icon-rocket' %}
                {% elsif block.settings.icon_select == 'icon-calendar' %}
                  {% render 'icon-calendar' %}
                {% elsif block.settings.icon_select == 'icon-sales' %}
                  {% render 'icon-sales' %}
                {% elsif block.settings.icon_select == 'icon-users-group' %}
                  {% render 'icon-users-group' %}
                {% endif %}
              </span>
              <div class="stats-details__classes {{ section.settings.stats-details__classes }}">
                {{ block.settings.stats_details }}
              </div>
              <div class="stats-subdetails__classes {{ section.settings.stats-subdetails__classes }}">
                {{ block.settings.stats_subdetails }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Stats Bar Section",
  "settings": [
    {
      "type": "text",
      "id": "stats_heading",
      "label": "Stats Bar Heading",
      "default": "Statistics Bar"
    },
    {
      "type": "select",
      "id": "per_row_sm",
      "label": "Stats Tiles per row (mobile)",
      "default": "grid-cols-2",
      "options": [
        {
          "label": "1",
          "value": "grid-cols-1"
        },
        {
          "label": "2",
          "value": "grid-cols-2"
        },
        {
          "label": "3",
          "value": "grid-cols-3"
        }
      ]
    },
    {
      "type": "select",
      "id": "per_row_md",
      "label": "Stats Tiles per row (tablet)",
      "default": "md:grid-cols-3",
      "options": [
        {
          "label": "1",
          "value": "md:grid-cols-1"
        },
        {
          "label": "2",
          "value": "md:grid-cols-2"
        },
        {
          "label": "3",
          "value": "md:grid-cols-3"
        },
        {
          "label": "4",
          "value": "md:grid-cols-4"
        },
        {
          "label": "5",
          "value": "md:grid-cols-5"
        }
      ]
    },
    {
      "type": "select",
      "id": "per_row_lg",
      "label": "Stats Tiles per row (desktop)",
      "default": "lg:grid-cols-4",
      "options": [
        {
          "label": "1",
          "value": "lg:grid-cols-1"
        },
        {
          "label": "2",
          "value": "lg:grid-cols-2"
        },
        {
          "label": "3",
          "value": "lg:grid-cols-3"
        },
        {
          "label": "4",
          "value": "lg:grid-cols-4"
        },
        {
          "label": "5",
          "value": "lg:grid-cols-5"
        },
        {
          "label": "6",
          "value": "lg:grid-cols-6"
        },
        {
          "label": "7",
          "value": "lg:grid-cols-7"
        },
        {
          "label": "8",
          "value": "lg:grid-cols-8"
        }
      ]
    },
    {
      "type": "header",
      "content": "Apply Tailwind CSS Classes (If Needed)",
      "info": "Note: Insert classes with space between them."
    },
    {
      "type": "textarea",
      "id": "stats-container__classes",
      "label": "Stats Container Classes",
      "default": "px-5 2xl:px-20"
    },
    {
      "type": "textarea",
      "id": "stats-title__classes",
      "label": "Stats Title Classes",
      "default": "text-4xl font-semibold text-gray-900 mt-4 mb-4 text-center"
    },
    {
      "type": "textarea",
      "id": "stats-inner-container__classes",
      "label": "Stats Inner Container Classes",
      "default": "grid py-5 gap-5"
    },
    {
      "type": "textarea",
      "id": "stats-wrapper__classes",
      "label": "Stats Wrapper Classes",
      "default": "text-center place-self-center"
    },
    {
      "type": "textarea",
      "id": "stats__classes",
      "label": "Stats Classes",
      "default": "max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 2xl:mt-5 2xl:mx-24  transition duration-300 ease-in-out transform hover:scale-105"
    },
    {
      "type": "textarea",
      "id": "stats-content__classes",
      "label": "Stats Content Classes",
      "default": "flex flex-col items-center justify-center px-4 py-3 md:p-5"
    },
    {
      "type": "textarea",
      "id": "stats-icon__classes",
      "label": "Stats Icon Classes"
    },
    {
      "type": "textarea",
      "id": "stats-details__classes",
      "label": "Stats Details Classes",
      "default": "mb-2 text-lg md:text-xl font-semibold tracking-tight text-gray-900 dark:text-white"
    },
    {
      "type": "textarea",
      "id": "stats-subdetails__classes",
      "label": "Stats Subdetails Classes",
      "default": "text-sm md:text-base mb-3 font-normal text-gray-700 dark:text-gray-400"
    }
  ],
  "blocks": [
    {
      "type": "card_block",
      "name": "Stats Tile",
      "settings": [
        {
          "type": "text",
          "label": "Stats Details",
          "id": "stats_details",
          "default": "10000+"
        },
        {
          "type": "text",
          "label": "Stats Sub Details",
          "id": "stats_subdetails",
          "default": "Statistics Information!!"
        },
        {
          "type": "select",
          "id": "icon_select",
          "label": "Select Icon",
          "default": "icon-rocket",
          "options": [
            {
              "label": "Rocket",
              "value": "icon-rocket"
            },
            {
              "label": "Calendar",
              "value": "icon-calendar"
            },
            {
              "label": "Sales",
              "value": "icon-sales"
            },
            {
              "label": "Users Group",
              "value": "icon-users-group"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Statistics Bars",
      "category": "Statistics Bar",
      "blocks": [
        {
          "type": "card_block"
        }
      ]
    }
  ]
}
{% endschema %}