<!-- dev__flex-box.liquid -->
<div
  class="{{ section.settings.display_mode }} custom-spacing"
  style="
      {%- if section.settings.margin_top_unit == "auto" -%}
        margin-top: auto;
    {%- elsif section.settings.margin_top_value > 0 -%}
        margin-top: {{ section.settings.margin_top_value }}{{ section.settings.margin_top_unit }};
    {%- endif -%}
    {%- if section.settings.margin_right_unit == "auto" -%}
        margin-right: auto;
    {%- elsif section.settings.margin_right_value > 0 -%}
        margin-right: {{ section.settings.margin_right_value }}{{ section.settings.margin_right_unit }};
    {%- endif -%}
    {%- if section.settings.margin_bottom_unit == "auto" -%}
        margin-bottom: auto;
    {%- elsif section.settings.margin_bottom_value > 0 -%}
        margin-bottom: {{ section.settings.margin_bottom_value }}{{ section.settings.margin_bottom_unit }};
    {%- endif -%}
    {%- if section.settings.margin_left_unit == "auto" -%}
        margin-left: auto;
    {%- elsif section.settings.margin_left_value > 0 -%}
        margin-left: {{ section.settings.margin_left_value }}{{ section.settings.margin_left_unit }};
    {%- endif -%}
    {%- if section.settings.padding_top_value > 0 -%}
        padding-top: {{ section.settings.padding_top_value }}{{ section.settings.padding_top_unit }};
    {%- endif -%}
    {%- if section.settings.padding_right_value > 0 -%}
        padding-right: {{ section.settings.padding_right_value }}{{ section.settings.padding_right_unit }};
    {%- endif -%}
    {%- if section.settings.padding_bottom_value > 0 -%}
        padding-bottom: {{ section.settings.padding_bottom_value }}{{ section.settings.padding_bottom_unit }};
    {%- endif -%}
    {%- if section.settings.padding_left_value > 0 -%}
        padding-left: {{ section.settings.padding_left_value }}{{ section.settings.padding_left_unit }};
    {%- endif -%}
    {%- if section.settings.display_mode == "flex" -%}
      flex-direction: {{ section.settings.flex_direction }};
      align-items: {{ section.settings.align_items }};
      justify-content: {{ section.settings.justify_content }};
      row-gap: {{ section.settings.row_gap_value }}{{ section.settings.row_gap_unit }};
      column-gap: {{ section.settings.column_gap_value }}{{ section.settings.column_gap_unit }};
      flex-wrap: {{ section.settings.flex_wrap }};
    {%- endif -%}
  "
>
  <div>
    {{ section.settings.display_mode }}
  </div>
</div>

{% schema %}
{
  "name": "Custom Layout - Flexbox",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "display_mode",
      "label": "Display mode",
      "options": [
        {
          "value": "block",
          "label": "Block"
        },
        {
          "value": "flex",
          "label": "Flex"
        },
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "inline-block",
          "label": "Inline Block"
        },
        {
          "value": "inline",
          "label": "Inline"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "flex"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "number",
      "id": "margin_top_value",
      "label": "Margin Top Value",
      "default": 0
    },
    {
      "type": "select",
      "id": "margin_top_unit",
      "label": "Margin Top Unit",
      "options": [
        { "value": "px", "label": "px (pixels)" },
        { "value": "%", "label": "% (percentage)" },
        { "value": "em", "label": "em" },
        { "value": "rem", "label": "rem (root em)" },
        { "value": "vw", "label": "vw (viewport width)" },
        { "value": "vh", "label": "vh (viewport height)" },
        { "value": "svw", "label": "SVW (Small Viewport Width)" },
        { "value": "svh", "label": "SVH (Small Viewport Height)" },
        { "value": "auto", "label": "Auto (only for margins)" }
      ],
      "default": "px"
    },
    {
      "type": "number",
      "id": "margin_right_value",
      "label": "Margin Right Value",
      "default": 0
    },
    {
      "type": "select",
      "id": "margin_right_unit",
      "label": "Margin Right Unit",
      "options": [
        { "value": "px", "label": "px (pixels)" },
        { "value": "%", "label": "% (percentage)" },
        { "value": "em", "label": "em" },
        { "value": "rem", "label": "rem (root em)" },
        { "value": "vw", "label": "vw (viewport width)" },
        { "value": "vh", "label": "vh (viewport height)" },
        { "value": "svw", "label": "SVW (Small Viewport Width)" },
        { "value": "svh", "label": "SVH (Small Viewport Height)" },
        { "value": "auto", "label": "Auto (only for margins)" }
      ],
      "default": "px"
    },
    {
      "type": "number",
      "id": "margin_bottom_value",
      "label": "Margin Bottom Value",
      "default": 0
    },
    {
      "type": "select",
      "id": "margin_bottom_unit",
      "label": "Margin Bottom Unit",
      "options": [
        { "value": "px", "label": "px (pixels)" },
        { "value": "%", "label": "% (percentage)" },
        { "value": "em", "label": "em" },
        { "value": "rem", "label": "rem (root em)" },
        { "value": "vw", "label": "vw (viewport width)" },
        { "value": "vh", "label": "vh (viewport height)" },
        { "value": "svw", "label": "SVW (Small Viewport Width)" },
        { "value": "svh", "label": "SVH (Small Viewport Height)" },
        { "value": "auto", "label": "Auto (only for margins)" }
      ],
      "default": "px"
    },
    {
      "type": "number",
      "id": "margin_left_value",
      "label": "Margin Left Value",
      "default": 0
    },
    {
      "type": "select",
      "id": "margin_left_unit",
      "label": "Margin Left Unit",
      "options": [
        { "value": "px", "label": "px (pixels)" },
        { "value": "%", "label": "% (percentage)" },
        { "value": "em", "label": "em" },
        { "value": "rem", "label": "rem (root em)" },
        { "value": "vw", "label": "vw (viewport width)" },
        { "value": "vh", "label": "vh (viewport height)" },
        { "value": "svw", "label": "SVW (Small Viewport Width)" },
        { "value": "svh", "label": "SVH (Small Viewport Height)" },
        { "value": "auto", "label": "Auto (only for margins)" }
      ],
      "default": "px"
    },
    {
      "type": "number",
      "id": "padding_top_value",
      "label": "Padding Top Value",
      "default": 0
    },
    {
      "type": "select",
      "id": "padding_top_unit",
      "label": "Padding Top Unit",
      "options": [
        { "value": "px", "label": "px (pixels)" },
        { "value": "%", "label": "% (percentage)" },
        { "value": "em", "label": "em" },
        { "value": "rem", "label": "rem (root em)" },
        { "value": "vw", "label": "vw (viewport width)" },
        { "value": "vh", "label": "vh (viewport height)" },
        { "value": "svw", "label": "SVW (Small Viewport Width)" },
        { "value": "svh", "label": "SVH (Small Viewport Height)" }
      ],
      "default": "px"
    },
    {
      "type": "number",
      "id": "padding_right_value",
      "label": "Padding Right Value",
      "default": 0
    },
    {
      "type": "select",
      "id": "padding_right_unit",
      "label": "Padding Right Unit",
      "options": [
        { "value": "px", "label": "px (pixels)" },
        { "value": "%", "label": "% (percentage)" },
        { "value": "em", "label": "em" },
        { "value": "rem", "label": "rem (root em)" },
        { "value": "vw", "label": "vw (viewport width)" },
        { "value": "vh", "label": "vh (viewport height)" },
        { "value": "svw", "label": "SVW (Small Viewport Width)" },
        { "value": "svh", "label": "SVH (Small Viewport Height)" }
      ],
      "default": "px"
    },
    {
      "type": "number",
      "id": "padding_bottom_value",
      "label": "Padding Bottom Value",
      "default": 0
    },
    {
      "type": "select",
      "id": "padding_bottom_unit",
      "label": "Padding Bottom Unit",
      "options": [
        { "value": "px", "label": "px (pixels)" },
        { "value": "%", "label": "% (percentage)" },
        { "value": "em", "label": "em" },
        { "value": "rem", "label": "rem (root em)" },
        { "value": "vw", "label": "vw (viewport width)" },
        { "value": "vh", "label": "vh (viewport height)" },
        { "value": "svw", "label": "SVW (Small Viewport Width)" },
        { "value": "svh", "label": "SVH (Small Viewport Height)" }
      ],
      "default": "px"
    },
    {
      "type": "number",
      "id": "padding_left_value",
      "label": "Padding Left Value",
      "default": 0
    },
    {
      "type": "select",
      "id": "padding_left_unit",
      "label": "Padding Left Unit",
      "options": [
        { "value": "px", "label": "px (pixels)" },
        { "value": "%", "label": "% (percentage)" },
        { "value": "em", "label": "em" },
        { "value": "rem", "label": "rem (root em)" },
        { "value": "vw", "label": "vw (viewport width)" },
        { "value": "vh", "label": "vh (viewport height)" },
        { "value": "svw", "label": "SVW (Small Viewport Width)" },
        { "value": "svh", "label": "SVH (Small Viewport Height)" }
      ],
      "default": "px"
    },

    {
      "type": "header",
      "content": "Flexbox"
    },
    {
      "type": "select",
      "id": "flex_direction",
      "label": "Flex Direction",
      "options": [
        { "value": "row", "label": "Row" },
        { "value": "row-reverse", "label": "Row Reverse" },
        { "value": "column", "label": "Column" },
        { "value": "column-reverse", "label": "Column Reverse" }
      ],
      "default": "row"
    },
    {
      "type": "select",
      "id": "align_items",
      "label": "Align Items",
      "options": [
        { "value": "normal", "label": "Normal" },
        { "value": "stretch", "label": "Stretch" },
        { "value": "center", "label": "Center" },
        { "value": "flex-start", "label": "Flex Start" },
        { "value": "flex-end", "label": "Flex End" },
        { "value": "baseline", "label": "Baseline" }
      ],
      "default": "normal"
    },
    {
      "type": "select",
      "id": "justify_content",
      "label": "Justify Content",
      "options": [
        { "value": "space-between", "label": "Space Between" },
        { "value": "space-around", "label": "Space Around" },
        { "value": "center", "label": "Center" },
        { "value": "flex-start", "label": "Flex Start" },
        { "value": "flex-end", "label": "Flex End" },
        { "value": "space-evenly", "label": "Space Evenly" }
      ],
      "default": "flex-start"
    },
    {
      "type": "number",
      "id": "row_gap_value",
      "label": "Row Gap Value",
      "default": 0
    },
    {
      "type": "select",
      "id": "row_gap_unit",
      "label": "Gap Unit For Row",
      "options": [
        { "value": "px", "label": "px (pixels)" },
        { "value": "em", "label": "em" },
        { "value": "rem", "label": "rem (root em)" },
        { "value": "%", "label": "% (percentage)" }
      ],
      "default": "px"
    },
    {
      "type": "number",
      "id": "column_gap_value",
      "label": "Column Gap Value",
      "default": 0
    },
    {
      "type": "select",
      "id": "column_gap_unit",
      "label": "Gap Unit For Column",
      "options": [
        { "value": "px", "label": "px (pixels)" },
        { "value": "em", "label": "em" },
        { "value": "rem", "label": "rem (root em)" },
        { "value": "%", "label": "% (percentage)" }
      ],
      "default": "px"
    },
    {
      "type": "select",
      "id": "flex_wrap",
      "label": "Flex Wrap",
      "options": [
        { "value": "nowrap", "label": "Don't Wrap" },
        { "value": "wrap", "label": "Wrap" },
        { "value": "wrap-reverse", "label": "Wrap Reverse" }
      ],
      "default": "nowrap"
    }
  ],
  "presets": [
    {
      "name": "Custom Layout With Flexbox",
      "category": "Layout",
      "settings": {
        "display_mode": "flex"
      }
    }
  ]
}
{% endschema %}
