<div class="account-container__classes {{ section.settings.account-container__classes }}">
  <h1 class="account-title__classes {{ section.settings.account-title__classes }}">
    {{ section.settings['account-title'] }}
  </h1>

  <div class="account-inner-container__classes {{ section.settings.account-inner-container__classes }}">
    {% assign number_of_orders = customer.orders | size %}
    {% if number_of_orders > 0 %}
      <div class="account-orders-history__classes {{ section.settings.account-orders-history__classes }}">
        <h2 class="account-orders-title__classes {{ section.settings.account-orders-title__classes }}">
          {{ section.settings['orders-title'] }}
        </h2>

        {% paginate customer.orders by 4 %}
          <div class="account-orders__classes {{ section.settings.account-orders__classes }}">
            {% for order in customer.orders %}
              <div class="orders-container__classes {{ section.settings.orders-container__classes }}">
                <div class="orders-image-container__classes {{ section.settings.orders-image-container__classes }}">
                  {% assign orders-image__classes = 'orders-image__classes {{ section.settings.orders-image__classes }}' %}
                  {% if order.line_items.first.image %}
                    <div classs="orders-image__classes {{ section.settings.orders-image__classes }}">
                        {{ order.line_items.first.image | image_url: width: 300, height: 600 | image_tag }}
                    </div>
                  {% else %}
                    {{ 'product-1' | placeholder_svg_tag: orders-image__classes }}
                  {% endif %}
                </div>

                <div class="orders-details__classes {{ section.settings.orders-details__classes }}">
                  <div class="orders-number-status__classes {{ section.settings.orders-number-status__classes }}">
                    <h3 class="orders-name__classes {{ section.settings.orders-name__classes }}">
                      {{ order.name | link_to: order.customer_url }}
                    </h3>
                    <p class="orders-status__classes {{ section.settings.orders-status__classes }}">
                      {{ order.financial_status_label }}
                    </p>
                  </div>
                  <div class="orders-fulfillment-price__classes {{ section.settings.orders-fulfillment-price__classes }}">
                    <p class="orders-fulfillment__classes {{ section.settings.orders-fulfillment__classes }}">
                      {{ order.fulfillment_status_label }}
                    </p>
                    <p class="orders-price__classes {{ section.settings.orders-price__classes }}">
                      {{ order.total_price | money }}
                    </p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>

          <div class="orders-pagination__classes {{ section.settings.orders-pagination__classes }}">
            {% render 'icon-pagination', pagination: paginate %}
          </div>
        {% endpaginate %}
      </div>
    {% else %}
      <div class="account-no-orders__classes {{ section.settings.account-no-orders__classes }}">
        <h2 class="account-no-orders-title__classes {{ section.settings.account-no-orders-title__classes }}">
          {{ section.settings['account-no-orders-title'] }}
        </h2>
      </div>
    {% endif %}
    <div class="account-details__classes {{ section.settings.account-details__classes }}">
      <h2 class="account-details-title__classes {{ section.settings.account-details-title__classes }}">
        {{ section.settings['account-details-title'] }}
      </h2>
      {{ customer.default_address | format_address }}
      <a
        href="{{ routes.account_addresses_url }}"
        class="account-view-address__classes {{ section.settings.account-view-address__classes }}"
      >
        {{- section.settings['account-view-address-title'] -}}
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Accounts",
  "settings": [
    {
      "type": "text",
      "id": "account-title",
      "label": "Account Page Title",
      "default": "Account"
    },
    {
      "type": "text",
      "id": "orders-title",
      "label": "Orders History Title",
      "default": "Order history"
    },
    {
      "type": "text",
      "id": "account-no-orders-title",
      "label": "Account No Orders Title",
      "default": "You currently don't have any orders"
    },
    {
      "type": "text",
      "id": "account-details-title",
      "label": "Account Details Title",
      "default": "Account details"
    },
    {
      "type": "text",
      "id": "account-view-address-title",
      "label": "Account View Address Title",
      "default": "View addresses"
    },
    {
      "type": "header",
      "content": "Apply Tailwind CSS Classes (If Needed)",
      "info": "Note: Insert classes with space between them."
    },
    {
      "type": "textarea",
      "id": "account-container__classes",
      "label": "Account Container Classes",
      "default": "max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8 dark:bg-gray-900"
    },
    {
      "type": "textarea",
      "id": "account-title__classes",
      "label": "Account Title Classes",
      "default": "text-2xl font-bold text-gray-700 dark:text-white"
    },
    {
      "type": "textarea",
      "id": "account-inner-container__classes",
      "label": "Account Inner Container Classes",
      "default": "block md:flex gap-4"
    },
    {
      "type": "textarea",
      "id": "account-orders-history__classes",
      "label": "Account Orders History Classes",
      "default": "w-full my-6 md:my-12"
    },
    {
      "type": "textarea",
      "id": "account-orders-title__classes",
      "label": "Account Orders Title Classes",
      "default": "text-xl font-bold text-gray-700 dark:text-white"
    },
    {
      "type": "textarea",
      "id": "account-orders__classes",
      "label": "Account Orders Classes",
      "default": "mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
    },
    {
      "type": "textarea",
      "id": "orders-container__classes",
      "label": "Orders Container Classes",
      "default": "relative"
    },
    {
      "type": "textarea",
      "id": "orders-image-container__classes",
      "label": "Orders Image Container Classes",
      "default": "w-full min-80 rounded-md overflow-hidden lg:h-80 h-72"
    },
    {
      "type": "textarea",
      "id": "orders-image__classes",
      "label": "Orders Image Classes",
      "default": "w-full h-full object-center object-cover hover:scale-105"
    },
    {
      "type": "textarea",
      "id": "orders-details__classes",
      "label": "Orders Details Classes",
      "default": "mt-4 flex items-start justify-between"
    },
    {
      "type": "textarea",
      "id": "orders-number-status__classes",
      "label": "Orders Number and Status Classes"
    },
    {
      "type": "textarea",
      "id": "orders-name__classes",
      "label": "Orders Name Classes",
      "default": "text-sm text-gray-700 dark:text-white"
    },
    {
      "type": "textarea",
      "id": "orders-status__classes",
      "label": "Orders Status Classes",
      "default": "mt-1 text-sm text-gray-500"
    },
    {
      "type": "textarea",
      "id": "orders-fulfillment-price__classes",
      "label": "Orders Fulfillment and Price Classes",
      "default": "text-right"
    },
    {
      "type": "textarea",
      "id": "orders-fulfillment__classes",
      "label": "Orders Fulfillment Classes",
      "default": "text-sm font-medium text-white bg-gray-700 dark:text-white rounded-full px-3 py-1"
    },
    {
      "type": "textarea",
      "id": "orders-price__classes",
      "label": "Orders Price Classes",
      "default": "text-sm"
    },
    {
      "type": "textarea",
      "id": "orders-pagination__classes",
      "label": "Orders Pagination Classes",
      "default": "max-w-6xl mx-auto"
    },
    {
      "type": "textarea",
      "id": "account-no-orders__classes",
      "label": "Account No Orders Classes",
      "default": "w-full h-80 flex items-center justify-center"
    },
    {
      "type": "textarea",
      "id": "account-no-orders-title__classes",
      "label": "Account No Orders Title Classes",
      "default": "text-base md:text-2xl font-medium"
    },
    {
      "type": "textarea",
      "id": "account-details__classes",
      "label": "Account Details Classes",
      "default": "w-full md:w-1/4 md:my-14 dark:text-white"
    },
    {
      "type": "textarea",
      "id": "account-details-title__classes",
      "label": "Account Details Title Classes",
      "default": "text-xl font-bold text-gray-700 dark:text-white mb-12"
    },
    {
      "type": "textarea",
      "id": "account-view-address__classes",
      "label": "Account View Address Classes",
      "default": "text-sm text-blue-600 hover:text-blue-900 underline"
    }
  ]
}
{% endschema %}
