<!-- dev_navbar.liquid -->

<header>
    <nav>
        <ul>
            {% for block in section.blocks %}
                <li><a href="{{ block.settings.url }}">{{ block.settings.text }}</a></li>
            {% endfor %}
        </ul>
        <ul>  
            {% for link in section.settings.menu.links %}
              <li> {{ link.title | link_to: link.url }} </li>
              	{% if link.links.size > 0 %}
                  <ul class="menu dropdown-child">
                    {% for child_link in link.links %}
                      <li class="menu-link">
                        <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                        {% if child_link.links.size > 0 %}
                          <ul class="menu dropdown-grandchild">
                            {% for grandchild_link in child_link.links %}
                              <li class="menu-link">
                                <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
              {% endif %}
            {%- endfor %}
        </ul>
        
    </nav>
</header>

{% schema %}
{
  "name": "Navbar",
  "class": "shopify-header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ],
  "blocks":[
      {
      "type": "list",
      "name": "nav-item",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
    ],
  "presets": [
    {
      "name": "Add Navbar"
    }
  ]
}
{% endschema %}
