<div class="orders-container__classes {{ section.settings.orders-container__classes }}">
  <div class="orders-details__classes {{ section.settings.orders-details__classes }}">
    <div class="orders-title__classes {{ section.settings.orders-title__classes }}">
      <h1 class="orders-name__classes {{ section.settings.orders-name__classes }}">
        {{ section.settings['order-name'] }}
        {{ order.name }}
      </h1>
      <p class="orders-date__classes {{ section.settings.orders-date__classes }}">
        {{ section.settings['order-created-at'] }}
        {{ order.created_at | date: format: 'date' }}
      </p>
      <span class="orders-status__classes {{ section.settings.orders-status__classes }}">
        {{- order.financial_status_label -}}
      </span>
    </div>
    <a
      href="{{ routes.account_url }}"
      class="back-to-accounts__classes {{ section.settings.back-to-accounts__classes }}"
    >
      {{- section.settings['back-to-accounts-text'] -}}
    </a>
  </div>

  <div class="orders-item-container__classes {{ section.settings.orders-item-container__classes }}">
    {% for line_item in order.line_items %}
      <div class="orders-item__classes {{ section.settings.orders-item__classes }}">
        <div class="item-details__classes {{ section.settings.item-details__classes }}">
          <div class="item-image-container__classes {{ section.settings.item-image-container__classes }}">
            {% if line_item.image %}
              <div class="item-image__classes {{ section.settings.item-image__classes }}">
                {{ line_item.image | image_url: width: 300, height: 400 | image_tag }}
              </div>
            {% else %}
              {{ 'product-1' | placeholder_svg_tag: section.settings['item-image__classes'] }}
            {% endif %}
          </div>

          <div>
            <h1 class="item-title__classes {{ section.settings.item-title__classes }}">
              {{ line_item.title | link_to: line_item.product.url }}
            </h1>

            <table class="item-details-table__classes {{ section.settings.item-details-table__classes }}">
              <tbody>
                <tr>
                  <td class="item-price-original-title__classes {{ section.settings.item-price-original-title__classes }}">
                    {{ section.settings['item-price-original-title'] }}
                  </td>
                  <td class="item-price-original__classes {{ section.settings.item-price-original__classes }}">
                    {{ line_item.original_price | money }}
                  </td>
                </tr>
                <tr>
                  <td class="item-quantity-title__classes {{ section.settings.item-quantity-title__classes }}">
                    {{ section.settings['item-quantity-title'] }}
                  </td>
                  <td class="item-quantity__classes {{ section.settings.item-quantity__classes }}">
                    {{ line_item.quantity }}
                  </td>
                </tr>
                <tr>
                  <td class="item-final-price-title__classes {{ section.settings.item-final-price-title__classes }}">
                    {{ section.settings['item-final-price-title'] }}
                  </td>
                  <td class="item-final-price__classes {{ section.settings.item-final-price__classes }}">
                    {{ line_item.final_line_price | money }}
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="item-description__classes {{ section.settings.item-description__classes }}">
              {{ line_item.product.description | truncatewords: 15 }}
            </div>
          </div>

          <div class="item-delivery-address-container__classes {{ section.settings.item-delivery-address-container__classes }}">
            <h1 class="item-delivery-address-title__classes {{ section.settings.item-delivery-address-title__classes }}">
              {{ section.settings['item-delivery-address-title'] }}
            </h1>
            <p>
              {{ section.settings['order-shipping-address-1-title'] }}
              {{ order.shipping_address.address1 }}
            </p>
            <p>
              {{ section.settings['order-shipping-address-2-title'] }}
              {{ order.shipping_address.address2 }}
            </p>
            <p>
              {{ section.settings['order-shipping-address-street-title'] }}
              {{ order.shipping_address.street }}
            </p>
            <p>
              {{ section.settings['order-shipping-address-province-title'] }}
              {{ order.shipping_address.province }}
            </p>
            <p>
              {{ section.settings['order-shipping-address-city-title'] }}
              {{ order.shipping_address.city }}
            </p>
            <p>
              {{ section.settings['order-shipping-address-zip-title'] }}
              {{ order.shipping_address.zip }}
            </p>
            <p>
              {{ section.settings['order-shipping-address-country-title'] }}
              {{ order.shipping_address.country }}
            </p>
          </div>
        </div>

        <div class="item-fulfillment__classes {{ section.settings.item-fulfillment__classes }}">
          <h1 class="item-fulfillment-title__classes {{ section.settings.item-fulfillment-title__classes }}">
            {{ section.settings['item-fulfillment-title'] }}
          </h1>

          {% if line_item.successfully_fulfilled_quantity > 0 %}
            <p class="item-fulfillment-quantity__classes {{ section.settings.item-fulfillment-quantity__classes }}">
              {{ section.settings['item-fulfillment-quantity-title'] }}
              {{ line_item.successfully_fulfilled_quantity }} items of your recent order.
            </p>
            <p class="item-tracking-company__classes {{ section.settings.item-tracking-company__classes }}">
              {{ section.settings['item-tracking-company-title'] }}
              {{ line_item.fulfillment.tracking_company }}
            </p>
            <p class="item-tracking-number__classes {{ section.settings.item-tracking-number__classes }}">
              {{ section.settings['item-tracking-number-title'] }}
              {{ line_item.fulfillment.tracking_number }}
            </p>

            <a
              target="_blank"
              href="{{ line_item.fulfillment.tracking_url }}"
              class="item-tracking-url__classes {{ section.settings.item-tracking-url__classes }}"
            >
              {{ section.settings['item-tracking-url-title'] }}
            </a>
          {% else %}
            <p class="item-not-fulfilled__classes {{ section.settings.item-not-fulfilled__classes }}">
              {{ section.settings['item-not-fulfilled-title'] }}
            </p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="orders-billing-address-conatiner__classes {{ section.settings.orders-billing-address-conatiner__classes }}">
    <div class="orders-billing-address__classes {{ section.settings.orders-billing-address__classes }}">
      <h1 class="orders-billing-address-title__classes {{ section.settings.orders-billing-address-title__classes }}">
        {{ section.settings['orders-billing-address-title'] }}
      </h1>
      {{ order.billing_address | format_address }}
    </div>
    <div class="orders-payment__classes {{ section.settings.orders-payment__classes }}">
      <h1 class="orders-payment-title__classes {{ section.settings.orders-payment-title__classes }}">
        {{ section.settings['orders-payment-title'] }}
      </h1>

      {% for transaction in order.transactions %}
        <div class="orders-transaction__classes {{ section.settings.orders-transaction__classes }}">
          {% assign credit_card_company = transaction.payment_details.credit_card_company %}
          {% assign credit_card_last_four_digits = transaction.payment_details.credit_card_number %}

          {% if credit_card_company %}
            <p>{{ credit_card_company }}</p>
            <p>{{ credit_card_last_four_digits }}</p>

            {% case transaction.status_label %}
              {% when 'Failure' %}
                {% assign background = 'red' %}
              {% else %}
                {% assign background = 'green' %}
            {% endcase %}

            <span class="orders-transaction-status__classes {{ section.settings.orders-transaction-status__classes }} bg-{{ background }}-700">
              {{- transaction.status_label -}}
            </span>
          {% else %}
            <p class="orders-manually-placed__classes {{ section.settings.orders-manually-placed__classes }}">
              {{ section.settings['orders-manually-placed-title'] }}
              {{ shop.name }}
            </p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="orders-total-details__classes {{ section.settings.orders-total-details__classes }}">
      <table class="orders-total-table__classes {{ section.settings.orders-total-table__classes }}">
        <tbody>
          <tr>
            <td class="table-subtotal-title__classes {{ section.settings.table-subtotal-title__classes }}">
              {{ section.settings['table-subtotal-title'] }}
            </td>
            <td class="table-subtotal__classes {{ section.settings.table-subtotal__classes }}">
              {{ order.subtotal_price | money }}
            </td>
          </tr>
          <tr>
            <td class="table-taxes-title__classes {{ section.settings.table-taxes-title__classes }}">
              {{ section.settings['table-taxes-title'] }}
            </td>
            <td class="table-taxes__classes {{ section.settings.table-taxes__classes }}">
              {{ order.tax_price | money }}
            </td>
          </tr>
          <tr>
            <td class="table-shipping-title__classes {{ section.settings.table-shipping-title__classes }}">
              {{ section.settings['table-shipping-title'] }}
            </td>
            <td class="table-shipping__classes {{ section.settings.table-shipping__classes }}">
              {{ order.shipping_price | money }}
            </td>
          </tr>
          <tr>
            <td class="table-total-title__classes {{ section.settings.table-total-title__classes }}">
              {{ section.settings['table-total-title'] }}
            </td>
            <td class="table-total__classes {{ section.settings.table-total__classes }}">
              {{ order.total_price | money }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Order",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "order-name",
      "label": "Order Name",
      "default": "Order"
    },
    {
      "type": "text",
      "id": "order-created-at",
      "label": "Order Creation Text",
      "default": "Placed on"
    },
    {
      "type": "text",
      "id": "back-to-accounts-text",
      "label": "Back to Accounts Text",
      "default": "Back to account"
    },
    {
      "type": "text",
      "id": "item-price-original-title",
      "label": "Item Price Original Title",
      "default": "Price"
    },
    {
      "type": "text",
      "id": "item-quantity-title",
      "label": "Item Quantity Title",
      "default": "Quantity"
    },
    {
      "type": "text",
      "id": "item-final-price-title",
      "label": "Item Final Price Title",
      "default": "Final Price"
    },
    {
      "type": "text",
      "id": "item-delivery-address-title",
      "label": "Item Delivery Address Title",
      "default": "Delivery Address"
    },
    {
      "type": "text",
      "id": "order-shipping-address-1-title",
      "label": "Order Shipping Address 1 Title",
      "default": "Address 1:"
    },
    {
      "type": "text",
      "id": "order-shipping-address-2-title",
      "label": "Order Shipping Address 2 Title",
      "default": "Address 2:"
    },
    {
      "type": "text",
      "id": "order-shipping-address-street-title",
      "label": "Order Shipping Address Street Title",
      "default": "Street:"
    },
    {
      "type": "text",
      "id": "order-shipping-address-province-title",
      "label": "Order Shipping Address Province Title",
      "default": "Province:"
    },
    {
      "type": "text",
      "id": "order-shipping-address-city-title",
      "label": "Order Shipping Address City Title",
      "default": "City:"
    },
    {
      "type": "text",
      "id": "order-shipping-address-zip-title",
      "label": "Order Shipping Address ZIP Title",
      "default": "ZIP:"
    },
    {
      "type": "text",
      "id": "order-shipping-address-country-title",
      "label": "Order Shipping Address Country Title",
      "default": "Country:"
    },
    {
      "type": "text",
      "id": "item-fulfillment-title",
      "label": "Item Fulfillment Title",
      "default": "Fulfillment"
    },
    {
      "type": "text",
      "id": "item-fulfillment-quantity-title",
      "label": "Item Fulfillment Quantity Title",
      "default": "We have fulfilled"
    },
    {
      "type": "text",
      "id": "item-tracking-company-title",
      "label": "Item Tracking Company Title",
      "default": "Tracking company:"
    },
    {
      "type": "text",
      "id": "item-tracking-number-title",
      "label": "Item Tracking Number Title",
      "default": "Tracking number:"
    },
    {
      "type": "text",
      "id": "item-tracking-url-title",
      "label": "Item Tracking URL Title",
      "default": "Track Order"
    },
    {
      "type": "text",
      "id": "item-not-fulfilled-title",
      "label": "Item Not fulfilled Title",
      "default": "This item is not yet fulfilled!"
    },
    {
      "type": "text",
      "id": "orders-billing-address-title",
      "label": "Orders Billing Address Title",
      "default": "Billing Address"
    },
    {
      "type": "text",
      "id": "orders-payment-title",
      "label": "Orders Payment Title",
      "default": "Payment Information"
    },
    {
      "type": "text",
      "id": "orders-manually-placed-title",
      "label": "Orders Manually Placed Title",
      "default": "This order is manually placed on"
    },
    {
      "type": "text",
      "id": "table-subtotal-title",
      "label": "Table Subtotal Title",
      "default": "Subtotal"
    },
    {
      "type": "text",
      "id": "table-taxes-title",
      "label": "Table Taxes Title",
      "default": "Taxes"
    },
    {
      "type": "text",
      "id": "table-shipping-title",
      "label": "Table Shipping Title",
      "default": "Shipping"
    },
    {
      "type": "text",
      "id": "table-total-title",
      "label": "Table Total Title",
      "default": "Total"
    },
    {
      "type": "header",
      "content": "Apply Tailwind CSS Classes (If Needed)",
      "info": "Note: Insert classes with space between them."
    },
    {
      "type": "textarea",
      "id": "orders-container__classes",
      "label": "Orders Container Styles",
      "default": "max-w-6xl mx-auto px-4 py-12"
    },
    {
      "type": "textarea",
      "id": "orders-details__classes",
      "label": "Orders Details Styles",
      "default": "flex items-start md:items-end justify-between my-5"
    },
    {
      "type": "textarea",
      "id": "orders-title__classes",
      "label": "Orders Title Styles",
      "default": "w-1/2"
    },
    {
      "type": "textarea",
      "id": "orders-name__classes",
      "label": "Orders Name Styles",
      "default": "text-2xl font-bold text-gray-700"
    },
    {
      "type": "textarea",
      "id": "orders-date__classes",
      "label": "Orders Date Styles",
      "default": "text-gray-500 my-2"
    },
    {
      "type": "textarea",
      "id": "orders-status__classes",
      "label": "Orders Status Styles",
      "default": "text-sm text-white bg-gray-700 rounded-full my-2 px-4 py-1"
    },
    {
      "type": "textarea",
      "id": "back-to-accounts__classes",
      "label": "Back to Accounts Link Styles",
      "default": "text-blue-700 hover:text-blue-900 underline font-medium"
    },
    {
      "type": "textarea",
      "id": "orders-item-container__classes",
      "label": "Orders Item Container Styles"
    },
    {
      "type": "textarea",
      "id": "orders-item__classes",
      "label": "Orders Item Styles",
      "default": "w-full border border-gray-200 divide-y rounded-sm mb-4"
    },
    {
      "type": "textarea",
      "id": "item-details__classes",
      "label": "Item Details Styles",
      "default": "grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-12 p-4 md:p-12"
    },
    {
      "type": "textarea",
      "id": "item-image-container__classes",
      "label": "Item Image Container Styles",
      "default": "w-full h-80 min-h-80 bg-gray-200 rounded-md overflow-hidden border"
    },
    {
      "type": "textarea",
      "id": "item-image__classes",
      "label": "Item Image Styles",
      "default": "w-full h-full object-center object-cover"
    },
    {
      "type": "textarea",
      "id": "item-title__classes",
      "label": "Item Title Styles",
      "default": "text-xl font-medium mb-4"
    },
    {
      "type": "textarea",
      "id": "item-details-table__classes",
      "label": "Item Details Table Styles",
      "default": "table-auto w-full mb-4"
    },
    {
      "type": "textarea",
      "id": "item-price-original-title__classes",
      "label": "Item Price Original Title Styles",
      "default": "border border-gray-200 px-4 py-2"
    },
    {
      "type": "textarea",
      "id": "item-price-original__classes",
      "label": "Item Price Original Styles",
      "default": "border border-gray-200 px-4 py-2"
    },
    {
      "type": "textarea",
      "id": "item-quantity-title__classes",
      "label": "Item Quantity Title Styles",
      "default": "border border-gray-200 px-4 py-2"
    },
    {
      "type": "textarea",
      "id": "item-quantity__classes",
      "label": "Item Quantity Styles",
      "default": "border border-gray-200 px-4 py-2"
    },
    {
      "type": "textarea",
      "id": "item-final-price-title__classes",
      "label": "Item Final Price Title Styles",
      "default": "border border-gray-200 px-4 py-2"
    },
    {
      "type": "textarea",
      "id": "item-final-price__classes",
      "label": "Item Final Price Styles",
      "default": "border border-gray-200 px-4 py-2"
    },
    {
      "type": "textarea",
      "id": "item-description__classes",
      "label": "Item Description Styles",
      "default": "text-gray-500 mb-4"
    },
    {
      "type": "textarea",
      "id": "item-delivery-address-container__classes",
      "label": "Item Delivery Address Container Styles"
    },
    {
      "type": "textarea",
      "id": "item-delivery-address-title__classes",
      "label": "Item Delivery Address Title Styles",
      "default": "font-medium mb-4"
    },
    {
      "type": "textarea",
      "id": "item-fulfillment__classes",
      "label": "Item Fulfillment Styles",
      "default": "p-4 md:p-12"
    },
    {
      "type": "textarea",
      "id": "item-fulfillment-title__classes",
      "label": "Item Fulfillment Title Styles",
      "default": "text-lg font-medium mb-4"
    },
    {
      "type": "textarea",
      "id": "item-fulfillment-quantity__classes",
      "label": "Item Fulfillment Quantity Styles",
      "default": "mb-2"
    },
    {
      "type": "textarea",
      "id": "item-tracking-company__classes",
      "label": "Item Tracking Company Styles",
      "default": "mb-2"
    },
    {
      "type": "textarea",
      "id": "item-tracking-number__classes",
      "label": "Item Tracking Number Styles",
      "default": "mb-2"
    },
    {
      "type": "textarea",
      "id": "item-tracking-url__classes",
      "label": "Item Tracking URL Styles",
      "default": "flex w-max text-sm text-white font-medium bg-gray-700 hover:underline hover:bg-gray-900 px-4 py-1 rounded"
    },
    {
      "type": "textarea",
      "id": "item-not-fulfilled__classes",
      "label": "Item Not Fulfilled Styles",
      "default": "text-gray-500"
    },
    {
      "type": "textarea",
      "id": "orders-billing-address-conatiner__classes",
      "label": "Orders Billing Address Container Styles",
      "default": "w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-12 border border-gray-200 rounded-sm p-4 md:p-12 my-6 bg-gray-50"
    },
    {
      "type": "textarea",
      "id": "orders-billing-address__classes",
      "label": "Orders Billing Address Styles"
    },
    {
      "type": "textarea",
      "id": "orders-billing-address-title__classes",
      "label": "Orders Billing Address Title Styles",
      "default": "font-medium mb-4"
    },
    {
      "type": "textarea",
      "id": "orders-payment__classes",
      "label": "Orders Payment Styles"
    },
    {
      "type": "textarea",
      "id": "orders-payment-title__classes",
      "label": "Orders Payment Title Styles",
      "default": "font-medium mb-4"
    },
    {
      "type": "textarea",
      "id": "orders-transaction__classes",
      "label": "Orders Transaction Styles",
      "default": "mb-4"
    },
    {
      "type": "textarea",
      "id": "orders-transaction-status__classes",
      "label": "Orders Transaction Status Styles",
      "default": "rounded-full text-sm px-4 py-1 text-white"
    },
    {
      "type": "textarea",
      "id": "orders-manually-placed__classes",
      "label": "Orders Manually Placed Styles",
      "default": "text-sm mb-4"
    },
    {
      "type": "textarea",
      "id": "orders-total-details__classes",
      "label": "Orders Total Details Styles"
    },
    {
      "type": "textarea",
      "id": "orders-total-table__classes",
      "label": "Orders Total Table Styles",
      "default": "table-auto w-full mb-4"
    },
    {
      "type": "textarea",
      "id": "table-subtotal-title__classes",
      "label": "Table Subtotal Title Styles",
      "default": "border border-gray-200 px-4 py-2"
    },
    {
      "type": "textarea",
      "id": "table-subtotal__classes",
      "label": "Table Subtotal Styles",
      "default": "border border-gray-200 px-4 py-2"
    },
    {
      "type": "textarea",
      "id": "table-taxes-title__classes",
      "label": "Table Taxes Title Styles",
      "default": "border border-gray-200 px-4 py-2"
    },
    {
      "type": "textarea",
      "id": "table-taxes__classes",
      "label": "Table Taxes Styles",
      "default": "border border-gray-200 px-4 py-2"
    },
    {
      "type": "textarea",
      "id": "table-shipping-title__classes",
      "label": "Table Shipping Title Styles",
      "default": "border border-gray-200 px-4 py-2"
    },
    {
      "type": "textarea",
      "id": "table-shipping__classes",
      "label": "Table Shipping Styles",
      "default": "border border-gray-200 px-4 py-2"
    },
    {
      "type": "textarea",
      "id": "table-total-title__classes",
      "label": "Table Total Title Styles",
      "default": "border border-gray-200 px-4 py-2"
    },
    {
      "type": "textarea",
      "id": "table-total__classes",
      "label": "Table Total Styles",
      "default": "border border-gray-200 px-4 py-2"
    }
  ]
}
{% endschema %}
