<div class="image-text-overlay-container {{ section.settings.image-text-overlay-container }}">
    {%- assign image_url_width = section.settings.image_url_width -%}
    {%- assign image_tag_styles_class = section.settings.image-text-overlay-image-tag -%}
    {% if section.settings.image %}
        {{ section.settings.image | image_url: width: image_url_width | image_tag: class: image_tag_styles_class }}
    {% else %}
        {{ 'product-1' | placeholder_svg_tag: image_tag_styles_class }}
    {% endif %}
  
  <div class="image-text-overlay-content {{ section.settings.image-text-overlay-content }}">
    <h2 class="image-text-overlay-title {{ section.settings.image-text-overlay-title }}">
    {{ section.settings.main_title }}
    </h2>
    <div class="image-text-overlay-description {{ section.settings.image-text-overlay-description }}">
    <p>{{ section.settings.content }}</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image with Text Overlay",
  "settings": [
    {
      "type": "textarea",
      "label": "Main Title",
      "id": "main_title",
      "default": "The most awaiting sale is near"
    },
    {
      "type": "textarea",
      "label": "Content",
      "id": "content",
      "default": "This is the most \n awesome Shopify Skeleton Theme with many features like \n inbuild schema Tailwind CSS, Schema Blocks for repetitive function and many more !!"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Add a Image"
    },
    {
      "type": "text",
      "label": "Image Alt Text",
      "id": "alt_text",
      "default": "Image Alt Text"
    },
    {
      "type": "text",
      "id": "image_url_width",
      "label": "Image URL width",
      "default": "1000"
    },
    {
      "type": "header",
      "content": "Styling"
    },
    {
      "type": "textarea",
      "id": "image-text-overlay-container",
      "label": "Image Text Container",
      "default": "relative h-[300px] md:h-[500px]"
    },
    {
      "type": "textarea",
      "id": "image-text-overlay-image-tag",
      "label": "Overlay Image Style",
      "default": "h-full w-full object-cover"
    },
    {
      "type": "textarea",
      "id": "image-text-overlay-content",
      "label": "Text Content Style",
      "default": "absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[75%] md:w-fit"
    },
    {
      "type": "textarea",
      "id": "image-text-overlay-title",
      "label": "Title Style",
      "default": "text-2xl md:text-5xl text-gray-700 font-bold mb-2 md:mb-10 capitalize"
    },
    {
      "type": "textarea",
      "id": "image-text-overlay-description",
      "label": "Description Style",
      "default": "text-sm md:text-lg text-gray-600 mb-1 md:mb-5"
    }
  ],
  "presets": [
    {
      "name": "Image with Text Overlay",
      "category": "Custom"
    }
  ]
}
{% endschema %}
