<div class="search-container__classes {{ section.settings.search-container__classes }}">
  <div class="paginate__classes {{ section.settings.paginate__classes }}" id="overlay"></div>
  {% paginate search.results by 8 %}
    <h1 class="search-title__classes {{ section.settings.search-title__classes }}">
      {{ section.settings['search-title'] }}
    </h1>

    <div class="search__classes {{ section.settings.search__classes }}">
      <form
        action="{{ routes.search_url }}"
        method="get"
        class="search-form__classes {{ section.settings.search-form__classes }}"
      >
        <input
          type="search"
          name="q"
          id="searchInput"
          placeholder="Search"
          value="{{ search.terms | escape }}"
          class="search-input__classes {{ section.settings.search-input__classes }}"
        >
        <button type="submit" class="search-button__classes {{ section.settings.search-button__classes }}">
          {{ section.settings['search-button-text'] }}
        </button>
      </form>
      <button
        onclick="closeSearch()"
        class="search-close-button__classes {{ section.settings.search-close-button__classes }}"
      >
        {% render 'icon-close' %}
      </button>
    </div>
    {% if search.performed %}
      {% if search.results.size > 0 %}
        <div class="search-results-container__classes {{ section.settings.search-results-container__classes }}">
          <p class="search-results-size__classes {{ section.settings.search-results-size__classes }}">
            {{ search.results.size }}
            {{ section.settings['search-results-text'] }}
            {{ search.terms | escape }}
          </p>
          <div class="search-results__classes {{ section.settings.search-results__classes }}">
            {% for item in search.results %}
              {% if item.object_type == 'product' %}
                <div class="search-product-container__classes {{ section.settings.search-product-container__classes }}">
                  <div class="search-product__classes {{ section.settings.search-product__classes }}">
                    {% if item.images.size > 0 %}
                      <a
                        href="{{ item.url | within: collection }}"
                        title="{{ item.title | escape }}"
                        class="search-product-image__classes {{ section.settings.search-product-image__classes }}"
                      >
                        {{ item | image_url: width: '50px' | image_tag: width: '50px' }}
                      </a>
                    {% endif %}
                    <div>
                      <h5>{{ item.title | link_to: item.url }}</h5>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>

      {% else %}
        <div class="search-no-results__classes {{ section.settings.search-no-results__classes }}">
          <p>
            {{ section.settings['search-no-results-text'] }}
            {{ search.terms | escape }}
          </p>
        </div>
      {% endif %}
    {% endif %}

    {% render 'icon-pagination', pagination: paginate %}
  {% endpaginate %}
</div>

<script>
  let typingTimer; // Timer identifier
  const typingDelay = 1200; // Delay in milliseconds before performing the search action

  function closeSearch() {
    // Hide the search results container or perform any other actions to close the search
    document.querySelector('.container').style.display = 'none';
    document.getElementById('overlay').style.display = 'none';
  }

  // Function to handle the search input
  function handleSearchInput(event) {
    clearTimeout(typingTimer); // Clear the previous timer
    typingTimer = setTimeout(performSearch, typingDelay); // Set a new timer
  }

  // Function to perform the search action
  function performSearch() {
    document.querySelector('form').submit(); // Submit the search form
  }

  // Add event listener for the search input
  document.getElementById('searchInput').addEventListener('input', handleSearchInput);
</script>

{% schema %}
{
  "name": "Search Bar",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "search-title",
      "label": "Search Title",
      "default": "Search Results"
    },
    {
      "type": "text",
      "id": "search-button-text",
      "label": "Search Button Text",
      "default": "Search"
    },
    {
      "type": "text",
      "id": "search-results-text",
      "label": "Search Results Text",
      "default": "results for the search term"
    },
    {
      "type": "text",
      "id": "search-no-results-text",
      "label": "Search No Results Text",
      "default": "No results found for the search term: "
    },
    {
      "type": "header",
      "content": "Tailwind CSS Classes",
      "info": "Note: Insert classes with space between them."
    },
    {
      "type": "textarea",
      "id": "search-container__classes",
      "label": "Search Container Classes",
      "default": "container mx-auto relative"
    },
    {
      "type": "textarea",
      "id": "paginate__classes",
      "label": "Search Paginate Classes",
      "default": "fixed inset-0 bg-black opacity-50 hidden"
    },
    {
      "type": "textarea",
      "id": "search-title__classes",
      "label": "Search Title Classes",
      "default": "text-xl my-4 text-center"
    },
    {
      "type": "textarea",
      "id": "search__classes",
      "label": "Search Classes",
      "default": "flex justify-center items-center relative"
    },
    {
      "type": "textarea",
      "id": "search-form__classes",
      "label": "Search Form Classes",
      "default": "border flex rounded relative"
    },
    {
      "type": "textarea",
      "id": "search-input__classes",
      "label": "Search Input Classes",
      "default": "px-4 py-2 md:w-[500px] w-36 border-none"
    },
    {
      "type": "textarea",
      "id": "search-button__classes",
      "label": "Search Button Classes",
      "default": "bg-gray-900 hover:bg-gray-700 text-white border px-4"
    },
    {
      "type": "textarea",
      "id": "search-close-button__classes",
      "label": "Search Close Button Classes",
      "default": "-mr-2 p-5"
    },
    {
      "type": "textarea",
      "id": "search-results-container__classes",
      "label": "Search Results Container Classes",
      "default": "max-w-6xl mx-auto mb-4 relative"
    },
    {
      "type": "textarea",
      "id": "search-results-size__classes",
      "label": "Search Results Size Classes",
      "default": "text-gray-500 text-center my-10"
    },
    {
      "type": "textarea",
      "id": "search-results__classes",
      "label": "Search Results Classes",
      "default": "grid grid-cols-1 gap-4"
    },
    {
      "type": "textarea",
      "id": "search-product-container__classes",
      "label": "Search Product Container Classes",
      "default": "col pl-4 pr-4 md:pl-12 md:pr-12 rounded-lg"
    },
    {
      "type": "textarea",
      "id": "search-product__classes",
      "label": "Search Product Classes",
      "default": "card shadow flex items-center p-2"
    },
    {
      "type": "textarea",
      "id": "search-product-image__classes",
      "label": "Search Product Image Classes",
      "default": "mr-4"
    },
    {
      "type": "textarea",
      "id": "search-no-results__classes",
      "label": "Search No Results Classes",
      "default": "text-center my-4"
    }
  ]
}
{% endschema %}
