<!-- sections/newsletter.liquid -->

<section class="bg-white dark:bg-gray-900" style="background-color: {{ section.settings.background_color }};">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-md sm:text-center">
      <h2 class="mb-4 text-3xl tracking-tight font-bold text-gray-900 sm:text-4xl dark:text-white text-center">
        {{ section.settings.newsletter_title }}
      </h2>
      <p class="mx-auto mb-8 max-w-2xl font-light text-gray-500 md:mb-12 sm:text-xl dark:text-gray-400">
        {{ section.settings.newsletter_subtitle }}
      </p>
      {% form 'customer' %}
        <div class="items-center mx-auto mb-3 space-y-4 max-w-screen-sm sm:flex sm:space-y-0">
          <div class="relative w-full">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
              {% render 'icon-mail' %}
            </div>
            <input
              class="block p-3 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:rounded-none sm:rounded-l-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="{{ section.settings.newsletter_input_placeholder }}"
              type="email"
              name="contact[email]"
              id="email"
              required
            >
          </div>
          <div>
            <button
              type="submit"
              name="commit"
              class="py-3 px-5 w-full text-sm font-medium text-center bg-blue-600 text-white rounded-lg border cursor-pointer bg-primary-700 border-primary-600 sm:rounded-none sm:rounded-r-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
            >
              {{ section.settings.newsletter_button_text }}
            </button>
          </div>
        </div>
        <div class="mx-auto max-w-screen-sm text-sm text-gray-500 newsletter-form-footer dark:text-gray-300 text-center">
          {{ section.settings.newsletter_privacy_policy }}
        </div>
      {% endform %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Newsletter Signup Form",
  "settings": [
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Title",
      "default": "Sign up for our newsletter"
    },
    {
      "type": "textarea",
      "id": "newsletter_subtitle",
      "label": "Subtitle",
      "default": "Stay up to date with the roadmap progress, announcements and exclusive discounts feel free to sign up with your email."
    },
    {
      "type": "text",
      "id": "newsletter_input_placeholder",
      "label": "Input Placeholder",
      "default": "Enter your email"
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": "Button Text",
      "default": "Subscribe"
    },
    {
      "type": "text",
      "id": "newsletter_privacy_policy",
      "label": "Privacy Policy Text",
      "default": "We care about the protection of your data. Read our Privacy Policy."
    },
    {
      "type": "color",
      "id": "background_color",
      "label": " Background Color"
    }
  ],
  "presets": [
    {
      "name": "Newsletter Signup Form",
      "category": "Custom"
    }
  ]
}
{% endschema %}
