<!-- sections/testimonials.liquid -->
<div class="testimonials {{ section.settings.testimonials_styles }}">
  <!-- Container for testimonials in row format -->
  <div
    class="testimonials__container testimonials__container--row {{ section.settings.testimonials_container_row_styles }}"
  >
    {% for testimonial in section.blocks %}
      {% if testimonial.type == 'testimonial_row' %}
        <div class="testimonial testimonial--row {{ testimonial.settings.testimonial_styles }}">
          <div class="testimonial__card {{ testimonial.settings.card_styles }}">
            {% if testimonial.settings.testimonial_image %}
              {{
                testimonial.settings.testimonial_image
                | image_url: width: section.settings.image_width, height: section.settings.image_height
                | image_tag: class: 'testimonial__image', alt: testimonial.settings.image_name
              }}
            {% endif %}
            <p class="testimonial__content {{ testimonial.settings.content_styles }}">
              {{ testimonial.settings.testimonial_content }}
            </p>
            <p class="testimonial__name {{ testimonial.settings.name_styles }}">
              {{ testimonial.settings.testimonial_name }}
            </p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <!-- Container for testimonials in column format -->
  <div
    class="testimonials__container testimonials__container--column {{ section.settings.testimonials_container_column_styles }}"
  >
    {% for testimonial in section.blocks %}
      {% if testimonial.type == 'testimonial_column' %}
        <div class="testimonial testimonial--column {{ testimonial.settings.testimonial_styles }}">
          <div class="testimonial__card {{ testimonial.settings.card_styles }}">
            {% if testimonial.settings.testimonial_image %}
              {{
                testimonial.settings.testimonial_image
                | image_url: width: section.settings.image_width, height: section.settings.image_height
                | image_tag: class: 'testimonial__image', alt: testimonial.settings.image_name
              }}
            {% endif %}
            <p class="testimonial__content {{ testimonial.settings.content_styles }}">
              {{ testimonial.settings.testimonial_content }}
            </p>
            <p class="testimonial__name {{ testimonial.settings.name_styles }}">
              {{ testimonial.settings.testimonial_name }}
            </p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Customer Testimonials",
  "settings": [
    {
      "type": "header",
      "content": "Apply Tailwind CSS Classes",
      "info": "Note: Insert classes with space between them."
    },
    {
      "type": "textarea",
      "label": "Testimonials Section Styles",
      "id": "testimonials_styles"
    },
    {
      "type": "textarea",
      "label": "Testimonials Container Row Styles",
      "id": "testimonials_container_row_styles",
      "default": "flex flex-row"
    },
    {
      "type": "textarea",
      "label": "Testimonials Container Column Styles",
      "id": "testimonials_container_column_styles",
      "default": "flex flex-col"
    },
    {
      "type": "number",
      "label": "Image Width in px",
      "id": "image_width"
    },
    {
      "type": "number",
      "label": "Image Height in px",
      "id": "image_height"
    }
  ],
  "blocks": [
    {
      "type": "testimonial_row",
      "name": "Testimonial Row",
      "settings": [
        {
          "type": "image_picker",
          "label": "Image",
          "id": "testimonial_image"
        },
        {
          "type": "text",
          "label": "Alt Text",
          "id": "image_name"
        },
        {
          "type": "textarea",
          "label": "Testimonial Content",
          "id": "testimonial_content"
        },
        {
          "type": "text",
          "label": "Name",
          "id": "testimonial_name"
        },
        {
          "type": "header",
          "content": "Apply Tailwind CSS Classes",
          "info": "Note: Insert classes with space between them."
        },
        {
          "type": "textarea",
          "label": "Testimonial Styles",
          "id": "testimonial_styles"
        },
        {
          "type": "textarea",
          "label": "Card Styles",
          "id": "card_styles"
        },
        {
          "type": "textarea",
          "label": "Content Styles",
          "id": "content_styles"
        },
        {
          "type": "textarea",
          "label": "Name Styles",
          "id": "name_styles"
        }
      ]
    },
    {
      "type": "testimonial_column",
      "name": "Testimonial Column",
      "settings": [
        {
          "type": "image_picker",
          "label": "Image",
          "id": "testimonial_image"
        },
        {
          "type": "text",
          "label": "Alt Text",
          "id": "image_name"
        },
        {
          "type": "number",
          "label": "Image Width in px",
          "id": "image_width"
        },
        {
          "type": "text",
          "label": "Name",
          "id": "testimonial_name"
        },
        {
          "type": "header",
          "content": "Apply Tailwind CSS Classes",
          "info": "Note: Insert classes with space between them."
        },
        {
          "type": "textarea",
          "label": "Testimonial Styles",
          "id": "testimonial_styles"
        },
        {
          "type": "textarea",
          "label": "Card Styles",
          "id": "card_styles"
        },
        {
          "type": "textarea",
          "label": "Content Styles",
          "id": "content_styles"
        },
        {
          "type": "textarea",
          "label": "Name Styles",
          "id": "name_styles"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Custom",
      "name": "Customer Testimonials Showcase"
    }
  ]
}
{% endschema %}
