<div class="table__maindiv {{ section.settings.table__maindiv }} ">
  <table class="table__subdiv {{ section.settings.table__subdiv }} ">
    <thead class="table__thead  {{ section.settings.table__thead }}">
      <tr>
        <th scope="col" class="table__trow {{ section.settings.table__trow }} ">
          {{ section.settings.table__heading1 }}
        </th>
        <th scope="col" class="px-6 py-3">{{ section.settings.table__heading2 }}</th>
        <th scope="col" class="px-6 py-3">{{ section.settings.table__heading3 }}</th>
        <th scope="col" class="px-6 py-3">{{ section.settings.table__heading4 }}</th>
      </tr>
    </thead>
    <tbody>
      {% for block in section.blocks %}
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            Apple MacBook Pro 17"
          </th>
          <td class="px-6 py-4">Silver</td>
          <td class="px-6 py-4">Laptop</td>
          <td class="px-6 py-4">$2999</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% schema %}
{
  "name": "Table Display",
  "settings": [
    {
      "type": "text",
      "id": "table__heading1",
      "label": "Table Heading First",
      "default": "Product Name"
    },
    {
      "type": "text",
      "id": "table__heading2",
      "label": "Table Heading Second",
      "default": "Color"
    },
    {
      "type": "text",
      "id": "table__heading3",
      "label": "Table Heading Third",
      "default": "Category"
    },
    {
      "type": "text",
      "id": "table__heading4",
      "label": "Table Heading Fourth",
      "default": "Price"
    },
    {
      "type": "header",
      "content": "Tailwind Styling Classes"
    },
    {
      "type": "textarea",
      "id": "table__maindiv",
      "label": "Main Table Section Styling",
      "default": "relative overflow-x-auto p-5 "
    },
    {
      "type": "textarea",
      "id": "table__subdiv",
      "label": "Sub Table Section Styling",
      "default": "w-full text-sm text-left rtl:text-right text-gray-400 "
    },
    {
      "type": "textarea",
      "id": "table__thead",
      "label": "Table Head Styling",
      "default": "text-xs text-gray-300 uppercase bg-gray-700 "
    },
    {
      "type": "textarea",
      "id": "table__trow",
      "label": "Table Row Styling",
      "default": "px-6 py-3"
    }
  ],
  "blocks": [
    {
      "type": "timeline_block",
      "name": "Timeline",
      "settings": [
        {
          "type": "textarea",
          "id": "timeline__main_time",
          "label": "Time",
          "default": "August 2023"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Table",
      "name": "Table Display"
    }
  ]
}
{% endschema %}
