<div class="reset-password-container__classes {{ section.settings.reset-password-container__classes }}">
  <div class="reset-password-main__classes {{ section.settings.reset-password-main__classes }}">
    <div>
      <h1 class="reset-password-title__classes {{ section.settings.reset-password-title__classes }}">
        {{ section.settings['reset-password-title'] }}
      </h1>
    </div>
    <div class="reset-password-form__classes {{ section.settings.reset-password-form__classes }}">
      {% form 'reset_customer_password' %}
        {% if form.errors %}
          <div
            class="reset-password-error__classes {{ section.settings.reset-password-error__classes }}"
            role="alert"
          >
            <strong class="reset-password-error-title__classes {{ section.settings.reset-password-error-title__classes }}">
              {{- section.settings['reset-password-error-title'] -}}
            </strong>
            <p class="reset-password-error-message__classes {{ section.settings.reset-password-error-message__classes }}">
              {{ form.errors | default_errors }}
            </p>
          </div>
        {% endif %}

        <div class="reset-password__classes {{ section.settings.reset-password__classes }}">
          <label
            for="password"
            class="reset-password-label__classes {{ section.settings.reset-password-label__classes }}"
          >
            {{- section.settings['reset-password-label'] -}}
          </label>
          <input
            type="password"
            name="customer[password]"
            id="password"
            autocomplete="new-password"
            class="reset-password-input__classes {{ section.settings.reset-password-input__classes }}"
            placeholder="{{ section.settings.reset-password-placeholder }}"
          >
        </div>

        <div class="reset-confirm-password__classes {{ section.settings.reset-confirm-password__classes }}">
          <label
            for="password_confirmation"
            class="reset-confirm-password-label__classes {{ section.settings.reset-confirm-password-label__classes }}"
          >
            {{- section.settings['reset-confirm-password-label'] -}}
          </label>
          <input
            type="password"
            name="customer[password_confirmation]"
            id="password_confirmation"
            autocomplete="new-password"
            class="reset-confirm-password-input__classes {{ section.settings.reset-confirm-password-input__classes }}"
            placeholder="{{ section.settings.reset-confirm-password-placeholder }}"
          >
        </div>
        <div>
          <button
            type="submit"
            class="reset-password-button__classes {{ section.settings.reset-password-button__classes }}"
          >
            {{ section.settings['reset-password-button'] }}
          </button>
        </div>
      {% endform %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Customer Reset Page",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "reset-password-title",
      "default": "Reset your Password",
      "label": "Reset Password Title"
    },
    {
      "type": "text",
      "id": "reset-password-error-title",
      "default": "Error!",
      "label": "Reset Password Error Title"
    },
    {
      "type": "text",
      "id": "reset-password-label",
      "default": "Password",
      "label": "Reset Password Label"
    },
    {
      "type": "text",
      "id": "reset-password-placeholder",
      "default": "Password",
      "label": "Reset Password Placeholder"
    },
    {
      "type": "text",
      "id": "reset-confirm-password-label",
      "default": "Confirm your Password",
      "label": "Reset Confirm Password Label"
    },
    {
      "type": "text",
      "id": "reset-confirm-password-placeholder",
      "default": "Confirm your Password",
      "label": "Reset Confirm Password Placeholder"
    },
    {
      "type": "text",
      "id": "reset-password-button",
      "default": "Reset Password",
      "label": "Reset Password Button Text"
    },
    {
      "type": "header",
      "content": "Apply Tailwind CSS Classes",
      "info": "Note: Insert classes with space between them."
    },
    {
      "type": "textarea",
      "id": "reset-password-container__classes",
      "default": "h-full flex items-center justify-center py-12 px-6 md:px-4 lg:px-8",
      "label": "Reset Password Container Classes"
    },
    {
      "type": "textarea",
      "id": "reset-password-main__classes",
      "default": "max-w-md w-full space-y-8",
      "label": "Reset Password Main Classes"
    },
    {
      "type": "textarea",
      "id": "reset-password-title__classes",
      "default": "text-center text-3xl font-bold mt-6",
      "label": "Reset Password Title Classes"
    },
    {
      "type": "textarea",
      "id": "reset-password-form__classes",
      "default": "mt-8",
      "label": "Reset Password Form Classes"
    },
    {
      "type": "textarea",
      "id": "reset-password-error__classes",
      "default": "relative border border-red-400 bg-red-100 text-red 700 px-4 py-3",
      "label": "Reset Password Error Classes"
    },
    {
      "type": "textarea",
      "id": "reset-password-error-title__classes",
      "default": "font-bold",
      "label": "Reset Password Error Title Classes"
    },
    {
      "type": "textarea",
      "id": "reset-password-error-message__classes",
      "default": "block sm:inline",
      "label": "Reset Password Error Message Classes"
    },
    {
      "type": "textarea",
      "id": "reset-password__classes",
      "default": "my-2",
      "label": "Reset Password Classes"
    },
    {
      "type": "textarea",
      "id": "reset-password-label__classes",
      "default": "sr-only",
      "label": "Reset Password Label Classes"
    },
    {
      "type": "textarea",
      "id": "reset-password-input__classes",
      "default": "relative block w-full px-3 py-2 border",
      "label": "Reset Password Input Classes"
    },
    {
      "type": "textarea",
      "id": "reset-confirm-password__classes",
      "default": "my-2",
      "label": "Reset Confirm Password Classes"
    },
    {
      "type": "textarea",
      "id": "reset-confirm-password-label__classes",
      "default": "sr-only",
      "label": "Reset Confirm Password Label Classes"
    },
    {
      "type": "textarea",
      "id": "reset-confirm-password-input__classes",
      "default": "relative block w-full px-3 py-2 border",
      "label": "Reset Confirm Password Input Classes"
    },
    {
      "type": "textarea",
      "id": "reset-password-button__classes",
      "default": "relative w-full py-2 px-4 text-sm font-medium text-white bg-gray-600 hover:bg-gray-900",
      "label": "Reset Password Button Classes"
    }
  ],
  "presets": [
    {
      "category": "Custom",
      "name": "Reset Password"
    }
  ]
}
{% endschema %}
