<div id="Banner-template">
  <div class="image-banner">
    <div class="text-white">
      <p class="image-banner-small-title">{{ section.settings.small_title }}</p>
      <h2 class="image-banner-title">
        {{ section.settings.main_title | newline_to_br }}
      </h2>
      <div class="image-banner-content">
        <p>{{ section.settings.content | newline_to_br }}</p>
      </div>
    </div>
    <div class="image-banner-image">
      <img
        src="{{ section.settings.image_url }}"
        alt="{{ section.settings.alt_text | default: 'Image Alt Text' }}"
        width="1800px;"
        height="1800px;"
        loading="lazy"
      >
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image with Text Overlay",
  "settings": [
    {
      "type": "text",
      "label": "Small Title",
      "id": "small_title",
      "default": "Elke dag..."
    },
    {
      "type": "text",
      "label": "Main Title",
      "id": "main_title",
      "default": "Lekker bezig MET\nje gezondheid"
    },
    {
      "type": "text",
      "label": "Content",
      "id": "content",
      "default": "Yummygums worden met zorg samengesteld en bevatten alleen hoogwaardige ingrediënten...\n\nDoor de lekkere fruitsmaken neem je ze met plezier..."
    },
    {
      "type": "text",
      "label": "Image URL",
      "id": "image_url",
      "default": "//www.yummygums.com/cdn/shop/files/1440_x_1440_-_150KB.jpg?v=1691750343&width=1800"
    },
    {
      "type": "text",
      "label": "Image Alt Text",
      "id": "alt_text",
      "default": "Image Alt Text"
    }
  ],
  "presets": [
    {
      "name": "Image with Text Overlay",
      "category": "Custom"
    }
  ]
}
{% endschema %}
