<!-- dev_multi-column.liquid -->

{{ 'dev_multi-column.css' | asset_url | stylesheet_tag }}

<div class="multi-column">
  <h2 class="{% if section.settings.enable_tailwind_styling %} {{ section.settings.multi-column__section-title }}  {% endif %}">
    {{ section.settings.section_title }}
  </h2>

  <div class="multi-column__container{% if section.settings.multi_column_layout != true %} single-column {% else %} three-columns {% endif %}">
    {% for block in section.blocks %}
      <div class="multi-column__item">
        {% if block.settings.image %}
        <div class="multi-column__item-img">
           {{ block.settings.image | image_url : width: 200 | image_tag }}
        </div>
        {% endif %}

        <h3 class="multi-column__item-title {% if section.settings.enable_tailwind_styling %} {{ section.settings.multi-column__item-title }} {% endif %}">
          {{ block.settings.column_title }}
        </h3>
        <p class="multi-column__item-content {% if section.settings.enable_tailwind_styling %} {{ section.settings.multi-column__item-content }} {% endif %}">  
          {{ block.settings.column_content }}
        </p>

        {% if block.settings.link_label != blank %}
              <a href="{{ block.settings.linkUrl }}"> 
                  {{ block.settings.link_label }}
              </a>
        {% endif %}
      </div>

     {% assign column_counter = column_counter | plus: 1 %}
      {% if column_counter == 3 %}
        {% assign column_counter = 0 %}
        </div>
        <div class="multi-column__container{% if section.settings.multi_column_layout != true %} single-column {% else %} three-columns {% endif %}">
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Multi-Column",
  "class": "multi-column",
  "settings": [
    {
      "type": "checkbox",
      "label": "Multi-Column Layout",
      "id": "multi_column_layout",
      "default": true
    },
    {
      "type": "text",
      "label": "Section Title",
      "id": "section_title",
      "default": "Multi-Column Section"
    },
    {
      "type": "header",
      "content": "Tailwind Styling Classes"
    },
    {
      "type": "checkbox",
      "label": "Enable Tailwind Styling",
      "id": "enable_tailwind_styling",
      "default": false
    },
    {
      "type": "text",
      "id": "multi-column__section-title",
      "label": "Style Section Header",
      "info": "Add classes like bg-red-100 font-semibold inline"
    },
    {
      "type": "text",
      "id": "multi-column__item-title",
      "label": "Style Column Title",
      "info": "Add classes like text-center"
    },
    {
      "type": "text",
      "id": "multi-column__item-content",
      "label": "Style Column Content",
      "info": "Add classes like bg-blue-100 "
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "text",
          "id": "column_title",
          "label": "Column Title",
          "default": "Title"
        },
        {
          "type": "textarea",
          "id": "column_content",
          "label": "Column Content",
          "default": "Content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "Link Label"
        },
        {
          "type": "url",
          "label": "Link URL",
          "id": "linkUrl"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Multi-Column",
      "category": "Custom"
    }
  ]
}
{% endschema %}
