{% assign blog_handle = section.settings.blog %}
{% assign blog = blogs[blog_handle] %}

<div class="featured-blog {{ section.settings.featured_blog_styles }}">
  <h1 class="featured-blog__heading {{ section.settings.heading_styles }}">
    {{ section.settings.heading }}
  </h1>

  <div class="blog-posts columns-{{ section.settings.columns_desktop }}">
    {% for article in blog.articles limit: section.settings.post_limit %}
      <article class="blog-post {{ section.settings.color_scheme }} {{ section.settings.blog_post_styles }}">
        {% if section.settings.show_image and article.image %}
          {{ article.image | image_url: 'master' | image_tag: article.title }}
        {% endif %}

        <h1 class="blog-post__title {{ section.settings.article_title_styles }}">
          {{- article.title -}}
        </h1>

        {% if section.settings.show_date %}
          <p class="blog-post__date {{ section.settings.date_styles }}">
            {{ article.published_at | date: section.settings.date_format }}
          </p>
        {% endif %}

        {% if section.settings.show_author %}
          <p class="blog-post__author {{ section.settings.author_styles }}">{{ article.author.name }}</p>
        {% endif %}

        <p class="blog-post__content {{ section.settings.content_styles }}">
          {{ article.content | strip_html | truncatewords: section.settings.truncate_words }}
        </p>
        <a href="{{ article.url }}" class="blog-post__read-more {{ section.settings.read_more_styles }}">
          {{- section.settings.read_more_text -}}
        </a>
      </article>
    {% endfor %}
  </div>

  {% if section.settings.show_view_all %}
    <a href="{{ blog.url }}" class="featured-blog__view-all {{ section.settings.view_all_styles }}">
      {{- section.settings.view_all_text -}}
    </a>
  {% endif %}
</div>

{% schema %}
{
  "name": "Featured Blog",
  "settings": [
    {
      "type": "header",
      "content": "Apply Tailwind CSS Classes",
      "info": "Note: Insert classes with space between them."
    },
    {
      "type": "textarea",
      "label": "Featured Blog Section Styles",
      "id": "featured_blog_styles"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Blog posts",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "label": "Heading Styles",
      "id": "heading_styles"
    },
    {
      "type": "textarea",
      "label": "Article Title Styles",
      "id": "article_title_styles"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Select Blog"
    },
    {
      "type": "select",
      "id": "date_format",
      "options": [
        {
          "value": "%B %d, %Y",
          "label": "Month Day, Year"
        },
        {
          "value": "%Y-%m-%d",
          "label": "Year-Month-Day"
        },
        {
          "value": "%d %B, %Y",
          "label": "Day Month Year"
        }
      ],
      "default": "%B %d, %Y",
      "label": "Date Format"
    },
    {
      "type": "range",
      "id": "truncate_words",
      "min": 5,
      "max": 50,
      "step": 1,
      "default": 20,
      "label": "Truncate Words"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "Post Limit"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "Columns (Desktop)"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "textarea",
      "label": "Blog Post Styles",
      "id": "blog_post_styles"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "Show Image"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "Show Date"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "Show Author"
    },
    {
      "type": "textarea",
      "label": "Date Styles",
      "id": "date_styles"
    },
    {
      "type": "textarea",
      "label": "Author Styles",
      "id": "author_styles"
    },
    {
      "type": "textarea",
      "label": "Content Styles",
      "id": "content_styles"
    },
    {
      "type": "textarea",
      "label": "Read More Link Styles",
      "id": "read_more_styles"
    },
    {
      "type": "textarea",
      "label": "View All Link Styles",
      "id": "view_all_styles"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "Show View All Link"
    },
    {
      "type": "text",
      "id": "view_all_text",
      "default": "View All",
      "label": "View All Link Text"
    },
    {
      "type": "text",
      "id": "read_more_text",
      "default": "Read More",
      "label": "Read More Link Text"
    }
  ],
  "presets": [
    {
      "name": "Featured Blog Section"
    }
  ]
}
{% endschema %}
