{{ 'featured-collection.css' | asset_url | stylesheet_tag }}

<div class="featured-collection">
    <div class="centered-content">
        <div class="feature-headers">
            <h1 id="header1">{{ section.settings.heading1 }}</h1>
            <h1 id="header2">{{ section.settings.heading2 }}</h1>
        </div>

        <div class="link-section">
            <a href="{{ section.settings.linkUrl }}"> View all products ➜ </a>
        </div>

        <div class="tabs">
            <a href="#" class="tab-link active" data-category="all">All Gummies</a>
            <a href="#" class="tab-link" data-category="multivitamin">Multivitamin</a>
            <a href="#" class="tab-link" data-category="wellness_beauty">Wellness and Beauty</a>
            <a href="#" class="tab-link" data-category="single_support">Single Support</a>
            <a href="#" class="tab-link" data-category="kids">Kids</a>
        </div>
    </div>

    

    <div class="product-container">
    <!-- Product cards will be dynamically added here -->
        {% for block in section.blocks %}
            <div class="product-card" {{ block.shopify_attributes }} data-category="{{ block.settings.category | handle }}">
                <div class="card-img">
                    <img src="{{ block.settings.image | img_url: '300x300' }}" alt="{{ block.settings.title }}">
                    <div class="deal-tag"> DEAL - {{ block.settings.deal }} </div>
                </div>
                <h3>{{ block.settings.title }}</h3>
                <p>{{ block.settings.description }}</p>
                <p id="price">€{{ block.settings.price }} <span id="strikePrice"><s>€{{ block.settings.strikeThroughPrice }}</s></span></p>
                    
               
            </div>
        {% endfor %}
    </div>


    <!-- Add more HTML structure and liquid code based on your design -->

</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const tabs = document.querySelectorAll('.tab-link');
    const productContainer = document.querySelector('.product-container');

    tabs.forEach(tab => {
      tab.addEventListener('click', function(e) {
        e.preventDefault();

        tabs.forEach(t => t.classList.remove('active'));
        this.classList.add('active');

        const category = this.getAttribute('data-category');
        console.log('Filtering category:', category); // Debugging line
        filterProducts(category);
      });
    });

    function filterProducts(category) {
        const allProductCards = document.querySelectorAll('.product-card');
        allProductCards.forEach(card => {
            if (category === 'all' || card.getAttribute('data-category') === category) {
            card.style.display = 'inline-block';
            } else {
            card.style.display = 'none';
            }
        });
    }

    // Trigger the 'all' category click on initial load
    document.querySelector('.tab-link[data-category="all"]').click();

    
  });
</script>


{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "text",
      "label": "Heading 1",
      "id": "heading1",
      "default": "YUMMYGUMS"
    },
    {
      "type": "text",
      "label": "Heading 2",
      "id": "heading2",
      "default": "FOR ANY PURPOSE"
    },
    {
      "type": "url",
      "label": "Link URL",
      "id": "linkUrl"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "text",
          "id": "category",
          "label": "Category"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "price",
          "label": "Price"
        },
        {
          "type": "text",
          "id": "strikeThroughPrice",
          "label": "Strike Through Price"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "deal",
          "label": "Deal"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Collection"
    }
  ]
}
{% endschema %}



