<section
  class="custom-blog-section"
  style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;"
>
  {% if section.settings.heading != blank %}
    <{{ section.settings.heading_size }} class="custom-blog-section__heading">
      {{- section.settings.heading -}}
    </{{ section.settings.heading_size }}>
  {% endif %}

  <div class="custom-blog-section__container">
    {% for post in blogs[section.settings.blog].articles limit: section.settings.post_limit %}
      <article class="custom-blog-post" style="background-color: {{ section.settings.color_scheme }};">
        {% if section.settings.show_image and post.image %}
          <img
            src="{{ post.image.src | img_url: 'medium' }}"
            alt="{{ post.image.alt }}"
            class="custom-blog-post__image"
            loading="eager"
          >
        {% endif %}
        <div class="custom-blog-post__content">
          <h3 class="custom-blog-post__title">{{ post.title }}</h3>
          {% if section.settings.show_date %}
            <p class="custom-blog-post__date">{{ post.published_at | date: '%B %d, %Y' }}</p>
          {% endif %}
          {% if section.settings.show_author %}
            <p class="custom-blog-post__author">{{ post.author }}</p>
          {% endif %}
        </div>
      </article>
    {% endfor %}
  </div>

  {% if section.settings.show_view_all %}
    <a
      href="https://theme-skeleton-project.myshopify.com/blogs/{{ blogs[section.settings.blog] }}"
      class="custom-blog-section__view-all"
      >View All</a
    >
  {% endif %}
</section>

{% schema %}
{
  "name": "custom-blog",
  "tag": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Latest Blog Posts",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        { "value": "h2", "label": "H2" },
        { "value": "h1", "label": "H1" },
        { "value": "h0", "label": "H0" }
      ],
      "default": "h1",
      "label": "Heading Size"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Select Blog",
      "info": "Choose the blog to display"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "Post Limit"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Colors",
      "info": "Cards Info",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "Show Image"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "Show Date"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "Show Author"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "View All"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Custom Blog Posts"
    }
  ]
}
{% endschema %}
