{{ 'footer.css' | asset_url | stylesheet_tag }}

<footer class="footer">
  {% for block in section.blocks %}
    <div class="footer__section">
      <input type="checkbox" id="footer-toggle-{{ forloop.index }}" class="footer__toggle-checkbox">
      <label for="footer-toggle-{{ forloop.index }}" class="footer__toggle">{{ block.settings.heading }}</label>
      <ul class="footer__links-list">
        {% for link in linklists[block.settings.menu].links %}
          <li class="footer__link-item">
            <a href="{{ link.url }}" class="footer__link">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
  <div class="footer__section footer__section--newsletter">
    <p class="footer__title footer__title-common">
      {{ section.settings.newsletter_heading }}
    </p>
    <form class="footer__form">
      <input type="email" placeholder="{{ section.settings.email_placeholder }}" class="footer__input">
      <button type="submit" class="footer__button">{{ section.settings.button_text }}</button>
    </form>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "max_blocks": 3,
  "blocks": [
    {
      "type": "menu",
      "name": "Menu item",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Footer Heading"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "newsletter_heading",
      "label": "Newsletter Heading",
      "default": "Join the club"
    },
    {
      "type": "text",
      "id": "email_placeholder",
      "label": "Email Placeholder",
      "default": "Your email"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Subscribe"
    }
  ],
  "presets": [
    {
      "name": "Default Footer",
      "category": "Footer"
    }
  ]
}
{% endschema %}
