<style>

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 5s slide infinite linear;
}

.logos-slide img {
  margin: 0 40px;
} 

 @media screen and (max-width: 768px) {
    .logos:before,
    .logos:after {
      width: 200px;
    }

    .logos-slide img {
      height: 40px;
      width:auto;
      margin: 0 20px;
    }
  }

</style>

<div class="logos overflow-hidden py-[10px] bg-white whitespace-nowrap relative" >
  {% capture sizes %}(max-width: {{ section.settings.logo_width | times: 2 }}px) 50vw, {{ section.settings.logo_width }}px{% endcapture %}
  {% capture widths %}{{ section.settings.logo_width }}, {{ section.settings.logo_width | times: 1.5 | round }}, {{ section.settings.logo_width | times: 2 }}{% endcapture %}

  {% for block in section.blocks %}
  <div class="logos-slide inline-block">
        {%- assign logo_alt = block.settings.logo_alt | default: shop.name | escape -%}
        {{
          block.settings.logo
          | image_url: width: 100
          | image_tag:
            widths: widths,
            height: auto,
            width: section.settings.logo_width,
            alt: logo_alt,
            sizes: sizes,
            preload: true
        }}
  </div>
  {% endfor %}

  {% for block in section.blocks %}
    <div class="logos-slide inline-block">
          {%- assign logo_alt = block.settings.logo_alt | default: shop.name | escape -%}
          {{
            block.settings.logo
            | image_url: width: 100
            | image_tag:
              widths: widths,
              height: auto,
              width: section.settings.logo_width,
              alt: logo_alt,
              sizes: sizes,
              preload: true
          }}
    </div>
    {% endfor %}

 
</div>





{% comment %} <div class="overflow-hidden bg-white whitespace-nowrap relative logos">
<style>
  @media screen and (max-width: 768px) {
    .logos:before,
    .logos:after {
      width: 200px;
    }

    .logos-slide img {
      height: 40px;
      margin: 0 20px;
    }
  }
</style>
 {% endcomment %}




{% schema %}
{
  "name": "Logo Carousel",
  "class": "shopify-brand-carousel",
  "settings": [
    {
      "type": "range",
      "id": "logo_width",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 50,
      "unit": "px",
      "label": "Set Logo width"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo",
          "info": "Select the logo image"
        },
        {
          "type": "text",
          "id": "logo_alt",
          "label": "Alt Text",
          "placeholder": "Alt text for accessibility"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo Carousel"
    }
  ]
}
{% endschema %}
