{{ 'newsletter.css' | asset_url | stylesheet_tag }}

<section class="newsletter-section">
  <div class="container">
    <div class="newsletter-wrapper">
      <div class="newsletter-content">
        <h1 class="newsletter-content__title">{{ section.settings.newsletter_title }}</h1>
        <p class="newsletter-content__subtitle">{{ section.settings.newsletter_subtitle }}</p>
      </div>
      
      <div class="newsletter-form">
        {% form 'customer', class: 'newsletter-form__form' %}
          <div class="field">
            <input
              id="NewsletterForm--{{ section.id }}"
              type="email"
              name="contact[email]"
              class="field__input newsletter-form__input"
              value="{{ form.email }}"
              aria-required="true"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              placeholder= {{ section.settings.newsletter_email_placeholder }}
              required
            >
            <button
              type="submit"
              class="newsletter-form__submit field__button btn"
              name="commit"
              id="newsletter_button"
            >
              {{ section.settings.newsletter_button }}
            </button>
          </div>
        {% endform %}
      </div>
      
      <div class="newsletter-condition">
        <br/>
        <h6 class="newsletter-content__condition">{{ section.settings.newsletter_condition }}</h6>
      </div>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Newsletter Section",
  "settings": [
    {
      "type": "text",
      "label": "Newsletter Title",
      "id": "newsletter_title",
      "default": "Join the club⚡"
    },
    {
      "type": "textarea",
      "label": "Newsletter Subtitle",
      "id": "newsletter_subtitle",
      "default": "Sign up for the newsletter and receive a 15% discount on your first order."
    },
    {
      "type": "text",
      "label": "Newsletter Email Placeholder",
      "id": "newsletter_email_placeholder",
      "default": "Email"
    },
    {
      "type": "text",
      "label": "Newsletter Button",
      "id": "newsletter_button",
      "default": "Subscribe"
    },
    {
      "type": "text",
      "label": "Newsletter Condition",
      "id": "newsletter_condition",
      "default": "*By continuing, you agree to the Terms and Conditions and data usage described in our Privacy Policy."
    }
  ],
  "presets": [
    {
      "category": "custom",
      "name": "Newsletter"
    }
  ]
}
{% endschema %}
